<div id="middle" class="container">
  <div class="white">
<%= semantic_form_for @promo_code do |f| %>
  <%= f.inputs do %>
    <%= f.input :promo_code %>
    <%= f.input :status %>
    <%= f.input :redemptions %>
    <%= f.input :description %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</div>
</div>