<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Snow Schoolers SMS Logs for <%= DateTime.now %> </h4>
    <ul>
    <% if @lesson.id %>
      <li>Lesson URL: <%= lesson_url(@lesson) %></li>
      <li>Requester name: <%= @lesson.requester.email %></li>
      <li>Sport: <%= @lesson.activity %></li>
      <li>Recipient phone number: <%= @recipient %></li>
      <% if @instructor %>
      <li>Instructor name: <%= @instructor_name %></li>
      <li>Instructor id: <%= @instructor_id %></li>
      <% end %>
    <% end %>
      <li>Content of SMS: <%= @body %></li>
    </ul>
  </body>
</html>
