<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @ticket.requester.name %>
      <p>Hello <%= @ticket.requester.name %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      We hope you are excited for your upcoming sledding adventure with us. This is just a friendly reminder about your reservation details below. Your confirmation number is <%= @ticket.confirmation_number %>.
    </p>  

  <h4>What happens now?</h4>
  <ul>
    <li>
      You have <b>successfully booked your sledding reservation</b>. All you need to do is be sure to save this email, and in particular the confirmation number above. When you arrive at the snow park, you'll need to show this confirmation number to a snowpark associate for them to check you in. If you have lost the confirmation number for any reason, please feel free to reach out to us at <a href="mailto:hello@snowschoolers.com">hello@snowschoolers.com</a> or by phone at 530-430-SNOW.
    </li>
<!--     <li>Please complete a required release of liability waiver prior to the start of your ticket. The waiver can be found at <a href="https://waiver.smartwaiver.com/v/snowschoolers2021" class="navy-link">https://waiver.smartwaiver.com/v/snowschoolers2021</a></li>
 -->    
    <li><span class="navy-text underline"><b> COVID SESSION TIMES:</b></span> Due to the on-going pandemic, the sled hill will have a max capacity of <%=SLEDHILL_CAPACITY %> active sledders. As such, we will be holding 4 daily sledding sessions, with each sesesion lasting 90 minutes on the main sled hill. We have upper overflow sled area which we expect to remain open throughout the day for all ticketholders, but that area requires more hiking uphill and the snow quality is not as nice. Please select your preferred time slot at the time of purchase, which guarantees you will be able to sled on the main hill during that time. If we are not at capacity, all ticket holders will be permitted to remain the main area, until capacity is reached. </li>
    <li>Because all operations are a bit more difficult this year due to the pandemic, please plan to arrive at the ski hill at least 15min prior to your sledding session time so that you can have time to park and get checked in.
    </li>
  </ul>

  <p class="left">
    <b> Release of Liability </b>
    <br>
    By purchasing your sledding ticket(s) you have agreed to Snow Schoolers' terms of service and release of liability. You may print and review the full liability release at the link below.
    <br>
    <span class="lesson-detail-topic"> <%= link_to 'View Release of Liability', liability_release_url(@ticket.id), class:"btn btn-tertiary", target:"_blank" %><br>
  </p>


  <h4>Reservation Details</h4>
  <ul>
    <li>Location: <%= @ticket.location.name %></li>
    <li>Date: <%= @ticket.date.strftime("%A %b #{@ticket.date.day.ordinalize}, %Y") %></li>
    <li>Session Time: <%= @ticket.slot %></li>
    <li>Number of Tickets: <%= @ticket.participants.count %></li>
    <li>Product: <%= @ticket.product.name %></li>
    <li>Contact phone number: <%= number_to_phone(@ticket.phone_number) %></li>
  </ul>

  <h4>Sledding Participant Details</h4>
  <ul>
    <% @ticket.participants.each do |participant| %>
    <li> <%= participant.name %>, age <%= participant.age_range %> </li>
    <% end %>
  </ul>


  <h4>Packing Checklist</h4>
  <p>Do you have all of the necessary winter apparel below to be comfortable on the hill? </p>
  <ul>
      <li>waterproof snow pants</li>
      <li>winter jacket</li>
      <li>warm gloves</li>
      <li>protective eyeware (i.e. goggles or sunglasses)</li>
      <li>sunscreen</li>
  </ul>


  <p>
    If you need to make any changes to your reservation, please visit: <a href=<%= ticket_url(@ticket) %> ><%= ticket_url(@ticket) %></a>.
  </p>

  <p>If you have any questions or if there is anything we can do to help you prepare for your upcoming reservation, please don't be afraid to reach out.</p>
  <p>
    Sincerely,
    <br>
    Snow Schoolers Guest Services <br>
    hello@snowschoolers.com
  </p>
</body>
</html>