<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @lesson.class_type == 'tickets' %>
      <p>
        Thanks for purchasing Homewood lift tickets! Your confirmation number is <%= @lesson.confirmation_number %>.
      </p>
      <p>
        Your tickets will be available for in-person pickup any morning between April 16th and April 21st, which is our final day of operations this season. It is best to email us at <href="mailto:hello@snowschoolers.com">hello@snowschoolers.com, or call us at 530-430-7669 in advance when you know approximately what time you'll arrive. That way we can be ready to meet you and get you on your way.
      </p>
      <p>
        Sincerely, <br>
        The Snow Schoolers team
      </p>
      
    <% else %>
    
    <% if @lesson.requester.name %>
      <p>Hello <%= @lesson.requester.name %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      Thank you for submitting your private lesson reservation through Snow Schoolers!
    </p>
    <p>
      Reservation confirmation number: <span style="font-size:18px;"><%=@lesson.confirmation_number%></span>
    </p>
    <h4>What happens now?</h4>
    <ul>
      <li>
        You have <b>successfully booked your lesson reservation</b>, and we have confirmed that we do have instructors available. Our team is now determining the best instructor to assign to your lesson, based on your stated goals and previous skiing or snowboarding experiences. We generally match all lessons by 5pm the day before the lesson, if not sooner. If you lesson is tomorrow and you have not heard a confirmation from us about who your instructor will be, please feel free to reach out to us at <a href="mailto:hello@snowschoolers.com">hello@snowschoolers.com.</a>
      </li>
      <li>Please complete a required release of liability waiver prior to the start of your lesson. The waiver can be found at <a href="https://waiver.smartwaiver.com/v/snowschoolers2021" class="navy-link">https://waiver.smartwaiver.com/v/snowschoolers2021</a></li>
      <li>
        Please save this email, as you will need to show your confirmation number (above) the morning of your lesson as proof of payment. Please also find your lesson reservation details below, including names & ages of the students in your reservation, and whether or not rental equipment has been included. 
      </li>
      <li>
          By purchasing a lesson with rentals, you agreed to the terms & conditions of the equipment rental agreement. You may view and print that rental agreement below.
          <br> <%= link_to "Print Rental Agreement", rental_agreement_url(@lesson.id), class: 'btn btn-default', target:"_blank" %>
      </li>
      <li>Your lesson will begin promptly at the start time you've selected.</li>
      <li>If you are renting from the mountain, please plan to arrive at the ski hill at least <%= ENV['RENTAL_ADVANCE_TIME'] %> prior to your lesson so that you can get outfitted with your equipment. For afternoon lessons, if it is at all possible please come by in the morning before 1030am to pickup your equipment, because rental equipment selection is often extremely limited in the afternoon.</li>
      <li>If you have your own equipment, you should still arrive at least 15 minutes prior to the start of your lesson to afford enough time to find parking and put on your boots and gear.</li>
    </ul>

    <h4>Lesson Details</h4>
    <ul>
      <li>Sport: <%= @lesson.activity %></li>
      <li>Location: <%= @lesson.location.name %></li>
      <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
      <li>Lesson Product: <%= @lesson.product.name %></li>
      <li>Start Time: <%= @lesson.start_time %></li>
      <li>Contact phone number: <%= number_to_phone(@lesson.phone_number) %>; your assigned instructor may use this number to contact you before the lesson to make sure you know where to meet or to confirm that you're arriving early enough to fitted with you rentals and still start your lesson on time. You can also expect to receive SMS notifications to this number when your lesson is complete.</li>
      <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>

    <%= render partial: 'lessons/price_details' %>

    <%= render partial: 'lessons/student_details' %>



    <p>
      <b> COVID Cancellation Policy </b>
      <br>
      Given the on-going pandemic, we recognize that your travel plans may change due to events beyond your control. If you have questions about how refunds are handled for COVID-related cancellations, please review our <%= link_to "extenuating circumstances policy", extenuating_circumstances_url, class:"navy-link" %>.
    </p>

    <hr>

    <p>
      If you need to make any changes to your lesson reservation, please visit: <a href=<%= lesson_url(@lesson) %> ><%= lesson_url(@lesson) %></a>.
    </p>

    <p>If you have any questions or if there is anything we can do to help you prepare for your upcoming lesson, please don't be afraid to reach out.</p>
    <p>
      Sincerely,
      <br>
      Snow Schoolers Guest Services <br>
      hello@snowschoolers.com
    </p>
    <% end %>
  </body>
</html>
