<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @lesson.requester.name %>
      <p>Hello <%= @lesson.requester.name.split(" ").first %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      Good news! One of our expert instructors, <%=@lesson.instructor.name %>, has confirmed your lesson request. Please review your instructor's info and the details of your lesson below, and don't be afraid to <a href="mailto:info@snowschoolers.com">reach out to us</a> if you have any questions. You may also reach your instructor directly the day of your lesson using their contact info below.
    </p>

    <h4>Meeting Location</h4>
    <p>Please plan to meet <%=@lesson.instructor.first_name %> outside of the Granlibakken Ski Hut a few minutes before the scheduled start of your lesson. The ski hill is located at <a href="https://www.google.com/maps/place/Granlibakken+Ski+%26+Sledding+Hill/@39.1561613,-120.1565678,17z/data=!4m13!1m7!3m6!1s0x80997d8619f5ff29:0x815523715ab4e748!2s725+Granlibakken+Rd,+Tahoe+City,+CA+96145!3b1!8m2!3d39.1561613!4d-120.1543791!3m4!1s0x80997d88a3630ec7:0x30c3373b77f6c7b4!8m2!3d39.1540162!4d-120.1547892" target="_blank" class="contact-link" ><%=@lesson.location.address%></a>. If you would like to meet somewhere else, please be sure to message your instructor ahead of time. </p>

    <h4>Lesson Details</h4>
    <ul>
      <li>Instructor Name: <%= link_to @lesson.instructor.name, @lesson.instructor %></li>
      <li>Instructor phone number: <%= @lesson.instructor.phone_number %>; Feel free to contact your instructor directly the day of your lesson if you have any questions. </li>
      <li>Your phone number: <%= @lesson.phone_number %>; You will receive SMS notifications only regarding <b> this lesson request </b>; your number will never be used for marketing notifications nor shared with any third parties. </li>
      <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
      <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Location: <%= @lesson.location.name %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>
    <p>
      If you need to make changes to your lessons, please visit: <%= lesson_url(@lesson) %>
    </p>
        
    <p>If you have any questions or if there is anything we can do to help you prepare for your upcoming lesson, please don't be afraid to reach out. Happy Trails!</p>
    <p>
      - The Snow Schoolers Team <br>
      p.s. You can now follow us on Social Media! <br>
      <a href="https://www.facebook.com/snowschoolers2016" class="socialbtn facebook"><i class="fa fa-facebook"></i>Facebook</a> <br>
      <a href="https://twitter.com/snowschoolers" class="socialbtn twitter"><i class="fa fa-twitter"></i>Twitter</a> <br>
      <a href="https://www.youtube.com/channel/UCHhUiwRmAQSrmzNUimeP7Uw" class="socialbtn youtube">Youtube</a>
    </p>
  </body>
</html>