<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @lesson.requester.name %>
      <p>Hello <%= @lesson.requester_name.split(" ").first %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      We hope you are excited for tomorrow's lesson. This is just a friendly reminder about your lesson start time and to make sure we have all of the important logistics in place.
    </p>

    <h4>Night before checklist:</h4>
    <ol>
      <li>Your reservation confirmation number is <span style="font-size:18px;"><%=@lesson.confirmation_number%></span>. You'll need this as your proof of payment to pickup your lift ticket and/or rentals.</li>
      <li>If you are renting from the mountain, please plan to arrive at the ski hill at least <%= ENV['RENTAL_ADVANCE_TIME'] %> prior to your lesson so that you can get outfitted with your equipment. For afternoon lessons, if it is at all possible please come by in the morning before 1030am to pickup your equipment, because rental equipment selection is often extremely limited in the afternoon. When you arrive, please tell one of our staff your name and and your reservation confirmation# (below), and they'll be able to check you in.</li>
      <li>If you have your own equipment, you should still arrive at least 15 minutes prior to the start of your lesson to afford enough time to find parking and put on your boots and gear.</li>
      <li>Do you have all of the necessary winter apparel below to be comfortable on the hill? </li>
          <ul>
              <li>waterproof snow pants</li>
              <li>winter jacket</li>
              <li>warm gloves</li>
              <li>protective eyeware (i.e. goggles or sunglasses)</li>
              <li>sunscreen</li>
          </ul>
    </ol>
    <p>
    </p>

    <%= render partial: 'meeting_location' %>

    <h4>Lesson Summary</h4>
    <ul>
      <% if @lesson.instructor %>
      <li>Your instructor's name: <%= link_to @lesson.instructor.name, @lesson.instructor %></li>
      <li>Instructor phone number: <%= @lesson.instructor.phone_number %>; Feel free to contact your instructor directly the day of your lesson if you have any questions. </li>
      <% end %>
      <li>Your phone number: <%= @lesson.phone_number %>; Your instructor will use this number to contact you in the morning if there is any trouble meeting at the location above. You can also expect to receive SMS notifications to this number when your lesson is complete.</li>
      <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Location: <%= @lesson.location.name %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>
    <%= render partial: 'lessons/price_details' %>

    <%= render partial: 'lessons/student_details' %>


    <p>
      If you need to make changes to your lessons, please visit: <%= lesson_url(@lesson) %>
    </p>
        
    <p>If you have any questions or if there is anything we can do to help you prepare for your upcoming lesson, please don't be afraid to reach out. Happy Trails!</p>
    <p>
      - The Snow Schoolers Team <br>
    </p>
  </body>
</html>