<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Snow Schoolers!</p>
    <p>
      We have a new lesson request that is now available to the first instructor who wants to claim it. Please find the full lesson details below
    </p>
    <p>
      To review this lesson and accept or decline it, please visit: <%= lesson_url(@lesson) %>
    </p>
    <div class='row'>
      <h4>Lesson Details</h4>
      <ul>
        <li>Sport: <%= @lesson.activity %></li>
        <li>Location: <%= @lesson.location.name %></li>
        <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
        <li>Slot: <%= @lesson.slot %></li>
        <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
        <li>Objectives: <%= @lesson.objectives %></li>
      </ul>

    <%= render partial: 'lessons/price_details' %>

    <%= render partial: 'lessons/student_details' %>

    </div>
  
  </body>
</html>
