<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Have a New Lesson Request</h1>
    <p>
      To take the lesson, go to the lesson page below and click the 'Take It' button before another instructor beats you to it!
    </p>
    <p>
      To review this lesson and accept or decline, visit: <%= lesson_url(@lesson) %>
    </p>
    <div class='row'>
      <h4>Basic <strong>Info</strong></h4>

      <ul>
          <li>Location:<%= @lesson.location.name %> </li>
          <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
          <li>Slot:<%= @lesson.slot %> </li>
          <li>Minimum Instructor Pay:<%= number_to_currency(@lesson.length.to_i * 16) %> </li>
      </ul>

      <h4>Objectives <strong> and Experience</strong></h4>

        <ul>
          <li>Objectives:<%= @lesson.objectives %> </li>
        </ul>

      <%= render partial: 'lessons/student_details' %>
    </div>
    <button> <h2> <a href=<%= lesson_url(@lesson) %>> Accept this Lesson </a> </h2></button>
  </body>
</html>
