<div id="middle" class="calendar-container">
  <div class="white">
<div class="container"></div>
<div class='col-md-6'>
  <h2 class="calendar-subheader center bold">Summary</h2>
  <div class="col-md-6">
    <!-- <h5>Days available:</h5> -->
    <h5>Prime instructor-days available:</h5>
    <h5>Total lessons completed: </h5>
    <h5>Total wages (tips) to-date: </h5>
    <h5>Total earnings: </h5>
  </div>
  <div class="col-md-6">
    <h5><%= Lesson.total_prime_days %></h5>
    <h5><%= Lesson.completed_lessons.count %> </h5>
    <h5><%= number_to_currency(Lesson.total_wages) %> (<%= number_to_currency(Lesson.total_tips) %>) </h5>
    <h5><%= number_to_currency(Lesson.total_earnings) %> </h5>
  </div>
</div>
<div class="row center">
</div>

<div class="">
  <%= month_calendar(calendar_blocks: :date, events:@calendar_blocks) do |date, blocks| %>
    <div class='day-summary'>
        <div class='pull-left date-number'>
          <%= date.strftime('%-d') %>  
        </div>
        <div class='pull-right'>
          <em> Instructors Available:</em> <%= CalendarBlock.instructors_available(date).count %> <br>
          <em> Outsanding Requests:</em> <%= Lesson.open_lesson_requests_on_day(date).count %>
        </div>
    </div>
    <div class="row">
    <% blocks.sort!{|a,b| a.state <=> b.state}.each do | block | %>        
          <% if block.state == "Booked" && block.lesson %>
              <%= link_to block.lesson.short_title, lesson_path(block.lesson.id).first, method: :get, class: "btn btn-xs btn-success" %>
            <% elsif block.instructor %>
              <div class='admin-calendar-day' >
                <%= link_to block.instructor.first_name, individual_availability_path(block.instructor.name.gsub(" ","-")), method: :get, id: block.id, class: "btn btn-xs btn-primary"  %>
              </div>
          <% end %>
    <% end %>
    <% Lesson.open_lesson_requests_on_day(date).each do |lesson| %>
        <%= link_to lesson.short_title, lesson_path(lesson.id), method: :get, class: "btn btn-xs btn-warning" %>    
    <% end %>
    </div>
  <% end %>
</div>

<div class="buffer"></div>

<section id="mobile-view" class="hidden-unless-mobile">

<div id="calendar"></div>

</section>
</div>
</div>