<div id="middle" class="container calendar-container">
  <div class="white">
<% if current_user && (current_user.user_type == "Snow Schoolers Employee" || current_user.user_type == "Ski Area Partner")  %>
  <h2 id='instructor-availability' class='center'>
      CALENDAR for <%= @instructor.name %> <%= link_to 'Admin Calendar', admin_calendar_path, method: :get, class: "btn btn-default"%>
  </h2>
  <% else %>
  <h2 id='instructor-availability' class='center'>MANAGE CALENDAR </h2>
<% end %>
<div class='col-md-6'>
  <h2 class="calendar-subheader center bold">Instructions</h2>
  <ul>
    <li>To set availability, simply click on a day below to change from available to unavailble.</li>
    <li>Alternatively, you may make bulk changes to all weekends, etc.</li>
    <li>To confirm your total days of availability, reload the page, or click the "Refresh" button.</li>
  </ul>
  <div class='row center'>
    <div class='example-date availability-open'> Green represent days you are available</div>
    <div class='example-date availability-booked'> Blue represent days you are already booked.</div>
    <div class='example-date availability-blocked'> Red represent days you are not available.</div>
  </div>
</div>
<div class='col-md-6'>
  <h2 class="calendar-subheader center bold">Summary</h2>
  <div class="col-md-6">
    <!-- <h5>Days available:</h5> -->
    <h5>Weekend + Holidays available:</h5>
    <h5>Total lessons to-date: </h5>
    <h5>Total wages (tips) to-date: </h5>
    <h5>Total earnings: </h5>
  </div>
  <div class="col-md-6">
    <!-- <h5><%= @instructor.total_days %></h5> -->
    <h5><%= @instructor.total_prime_days %> (minimum: 10)</h5>
    <h5><%= @instructor.completed_lessons_count %> </h5>
    <h5><%= number_to_currency(@instructor.total_wages) %> (<%= number_to_currency(@instructor.total_tips) %>) </h5>
    <h5><%= number_to_currency(@instructor.total_earnings) %> </h5>
  </div>
</div>
<div class="row center">
<%= link_to 'Refresh', refresh_calendar_path, method: :get, class: "btn btn-default", remote: true %>
<%= link_to 'Mark all days available', set_all_days_available_path(@instructor), method: :post, class: "btn btn-success" %>
<%= link_to 'Mark weekends available', set_all_weekends_available_path(@instructor), method: :post, class: "btn btn-warning" %>
<%= link_to 'Block all days', block_all_days_path(@instructor), method: :post, class: "btn btn-danger" %>
</div>

<div class="calendar-container">
  <%= month_calendar(calendar_blocks: :date, events:@calendar_blocks) do |date, blocks| %>
    <% blocks.each do | block | %>        
    <div class=<%=blocks.first.availability_formatting %> >
    <%= date.strftime('%-d') %>
    <h2 class="center block-text">
      <% if block.state == "Booked" && Lesson.where(instructor_id:block.instructor_id,lesson_time_id:block.lesson_time_id).count > 0 %>
        <%= link_to 'See Lesson Details', lesson_path(Lesson.where(instructor_id:block.instructor_id,lesson_time_id:block.lesson_time_id).first), method: :get, class: "" %>
        <% else %>
      <%= link_to block.toggle_display, toggle_availability_path(block.id), method: :put, id: block.id, class: 'toggle-availability', remote:true %>
      <% end %>

    </h2>          
    <% end %>
    </div>
  <% end %>
</div>
<div class="buffer"></div>
</div>
</div>