<% title "Calendar & Staffing Calendar Preview" %>

<div id="middle" class="calendar-container">
  <div class="white">
<div class="container"></div>

<div class="row center">
</div>

<table class="instructors-table">

  <thead>
    <tr>
      <th class="lessons-table-cells lesson-date">Date</th>
      <th class="lessons-table-cells lesson-date">Total Lesson Bookings</th>
      <th class="lessons-table-cells lesson-date">Total Booked Revenue</th>
      <th class="lessons-table-cells lesson-date">Ski Lessons</th>
      <!-- <th class="lessons-table-cells lesson-date">Skiers</th> -->
      <th class="lessons-table-cells lesson-date">Snowboarder Lessons</th>
      <!-- <th class="lessons-table-cells lesson-date">Snowboarders</th> -->
      <!-- <th class="lessons-table-cells lesson-date">XO</th> -->
      <th class="lessons-table-cells lesson-date">Date Last Year</th>
      <th class="lessons-table-cells lesson-date">Lessons LY</th>
      <th class="lessons-table-cells lesson-date">Revenue LY</th>
      <th class="lessons-table-cells lesson-date">Ski Lessons LY</th>
      <th class="lessons-table-cells lesson-date">SB Lessons LY</th>
    </tr>
  </thead>


  <tbody>
    <% @dates.each do |date| %>
    <tr>
      <td colspan="1" class="daily-roster-section-break"><%=date %> </td>
      <!-- total booked lessons -->
      <td colspan="1" class="daily-roster-section-break"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s}.count %> </td>
      <!-- total staff -->
      <!-- <td> TBD (8) </td> -->
      <!-- total skier staff -->
      <!-- <td> TBD (6) </td> -->
      <!-- total ski lessons -->
      <% lessons_booked_on_this_day = @lessons.select{|lesson| lesson.date.to_s == date.to_s} %>
      <td colspan="1" class="daily-roster-section-break"><%= number_to_currency(Lesson.revenue_for_lessons(lessons_booked_on_this_day), precision:0) %> </td>
      <td colspan="1" class="daily-roster-section-break"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.activity == "Ski"}.count %> </td>
      <!-- total SB staff -->
      <!-- <td> TBD (2) </td> -->
      <!-- total snowboard lessons -->
      <td colspan="1" class="daily-roster-section-break"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.activity == "Snowboard"}.count %> </td>
      <% date_year_ago = (date - 365) %>
      <td colspan="1" class="daily-roster-section-break year-ago"><%=date-365 %> </td>
      <td colspan="1" class="daily-roster-section-break year-ago"><%= @lessons_last_year.select{|lesson| lesson.date.to_s == date_year_ago.to_s}.count %> </td>

      <% lessons_booked_on_this_day_last_year = @lessons.select{|lesson| lesson.date.to_s == date_year_ago.to_s} %>
      <td colspan="1" class="daily-roster-section-break"><%= number_to_currency(Lesson.revenue_for_lessons(lessons_booked_on_this_day_last_year), precision:0) %> </td>

      <td colspan="1" class="daily-roster-section-break year-ago"><%= @lessons_last_year.select{|lesson| lesson.date.to_s == date_year_ago.to_s && lesson.activity == "Ski"}.count %> </td>
      <td colspan="1" class="daily-roster-section-break year-ago"><%= @lessons_last_year.select{|lesson| lesson.date.to_s == date_year_ago.to_s && lesson.activity == "Snowboard"}.count %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="buffer"></div>

<section id="mobile-view" class="hidden-unless-mobile">

<div id="calendar"></div>

</section>
</div>
</div>
