<div id="middle" class="container">
  <div class="white">
<p>
  <strong>Capacity Increase has been set for:</strong>
  <%= @calendar_block.lesson_time.date.strftime("%a, %b %d")%> - <%= @calendar_block.lesson_time.slot %>
</p>

<p>
  <strong>Increase(decrease) amount:</strong>
  <%= @calendar_block.state %>
</p>

<p>
  <strong>New sledhill capacity limit::</strong>
  <%= (SLEDHILL_CAPACITY + @calendar_block.state.to_i) %>
</p>


<%= link_to 'Edit', edit_calendar_block_path(@calendar_block) %> |
<%= link_to 'Back', calendar_blocks_path %>
</div>
</div>