 <section class="bg-white">
      <div class="container">
        <div class="col-md-4">
            <img src="https://snowschoolers.s3.amazonaws.com/private-snowboard.jpg" class="resort-mountain-stats-img">
            <hr>
            <img src="https://snowschoolers.s3.amazonaws.com/beginner-group.jpg" class="resort-mountain-stats-img">
        </div>  

        <div class="col-md-8">

        <table class="col-lg-11 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="5">
                    <h1>PRIVATE LESSON PRICES</h1>
                </th>
            </tr>
            <tr>
              <th class="holiday-dates col-xs-8">Holidays Rates apply to: Dec 20-Jan 5, Jan 18-20, and Feb 15-23</th>
              </th>
            </tr>

            <tr>
              <th class="sub-header" colspan="5">
                <h3 class="navy-text">Lesson packages WITHOUT any rental equipment:</h3>
              </th>
            </tr>
            <tr class="">
              <th class="col-xs-4 text-warning center"></th>
              <th class="pricing-snowschoolers col-xs-4">Daily Rate<br></th>
              <th class="pricing-snowschoolers col-xs-4">Holiday<br></th>
            </tr>
          </thead>

          <% if (Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil) %>
          <h1 class='text-danger center'> Pricing Not Yet Available </h1>

          <% else %>

          <tbody>
            <tr>
                <td class="pricing-length grey-side-borders col-xs-2">1hr Early-bird (845am)</td>
                <td class="pricing-snowschoolers">   
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:false,slot:'Early-bird').first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:false,slot:'Early-bird').first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders pricing-grey-background col-xs-2">1hr Privates (10am, 1115am, 1230pm)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:false).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:false).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders col-xs-2">Half-days (10am or 115pm start)</td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:false).first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:false).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders pricing-grey-background col-xs-2">Full-days (10am start)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:false).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:false).first.price, :precision => 0) %>
                </td>
            </tr>
            
          </tbody>
          <% end %>
        </table>
        <table class="col-lg-11 col-xs-12 pricing-table">
          <thead class="">
            <tr>
              <th class="sub-header" colspan="5">
                <h3 class="navy-text">Lesson packages with rental equipment included:</h3>
              </th>
            </tr>
            <tr class="">
              <th class="col-xs-4 text-warning center"></th>
              <th class="pricing-snowschoolers col-xs-4">Daily Rate<br></th>
              <th class="pricing-snowschoolers col-xs-4">Holiday<br></th>
            </tr>
          </thead>

          <% if (Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil) %>
          <h1 class='text-danger center'> Pricing Not Yet Available </h1>

          <% else %>

          <tbody>
            <tr>
                <td class="pricing-length grey-side-borders col-xs-8">1hr Early-bird (845am)</td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:true,slot:'Early-bird').first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:true,slot:'Early-bird').first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders pricing-grey-background col-xs-2">1hr Privates (10am, 1115am, 1230pm)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:true).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:true).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders col-xs-2">Half-days (10am or 115pm start)</td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:true).first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:true).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length grey-side-borders pricing-grey-background col-xs-2">Full-days (10am start)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',calendar_period:'Regular',is_rental:true).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',calendar_period:'Holiday',is_rental:true).first.price, :precision => 0) %>
                </td>
            </tr>

          </tbody>
          <% end %>
        </table>

        <table class="col-lg-11 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="5">
                    <h1>GROUP LESSON PRICES</h1>
                </th>
            </tr>
            <tr>
              <th class="sub-header" colspan="5">
                <h3 class="navy-text">All group lessons are 2hrs and start at 1:45pm</h3>
              </th>
            </tr>
            <tr class="">
              <th class="col-xs-4 text-warning center"></th>
              <th class="pricing-snowschoolers col-xs-4">Daily Rate<br></th>
              <th class="pricing-snowschoolers col-xs-4">Holiday<br></th>
            </tr>
          </thead>

          <% if (Product.where(location_id:24,length:"1.00",product_type:'group_lesson',calendar_period:Location.find(24).calendar_status).first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil) %>
          <h1 class='text-danger center'> Pricing Not Yet Available </h1>

          <% else %>

          <tbody>
            <tr>
                <td class="pricing-length grey-side-borders pricing-grey-background col-xs-8">Without rental equipment</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"2.00",product_type:'group_lesson',calendar_period:'Regular',is_rental:false).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"2.00",product_type:'group_lesson',calendar_period:'Holiday',is_rental:false).first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                 <td class="pricing-length grey-side-borders pricing-grey-background col-xs-8"><b>WITH</b> rental equipment</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"2.00",product_type:'group_lesson',calendar_period:'Regular',is_rental:true).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background col-xs-2">
                    <%= number_to_currency(Product.where(location_id:24,length:"2.00",product_type:'group_lesson',calendar_period:'Holiday',is_rental:true).first.price, :precision => 0) %>
                </td>
            </tr>
          </tbody>
          <% end %>
        </table>              
          
        </div>
      </div>
</section>