<section id="prices_simple" class="pricing-new-lesson">
    <div class="pricing-container">
          <% if (Product.where(location_id:8,length:"1.00",product_type:'private_lesson').first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson').first == nil) %>
          <h3 class='text-danger center'> Pricing Not Yet Available </h3>
          <% else %>
        <table class="col-lg-12 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="6">
                    <h1 class="navy-text">2017/18 PRIVATE LESSON RATES</h1>
                    <h3 class="center navy-text">Book Early and Save over 50% Compared to Other Resorts</h3>
                </th>
            </tr>
            
            <tr class="price-schools">
              <th class="col-xs-2 text-warning center">*<%=Location.find(24).calendar_status %> pricing* </th>
              <th class="pricing-snowschoolers col-xs-2">Homewood* <br> <span class="">(Lesson-only)</span> </th>
              <th class="pricing-snowschoolers col-xs-2">Granlibakken** <br> <span class="">(Lesson-only)</span> </th>
              <th class="pricing-snowschoolers col-xs-2">Granlibakken** <br> <span class="">(Lift + Rentals)</span> </th>
              <th class="hidden-unless-desktop pricing-competitors-names">Northstar </th>
              <th class="hidden-unless-desktop pricing-competitors-names">Squaw Valley</th>
            </tr>
          </thead>



          <tbody>
            <tr>
                <td class="grey-side-borders pricing-length pricing-grey-background">Early-bird (9-10am)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                    <%= number_to_currency(Product.where(location_id:8,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',name:'1hr Private Lesson (lesson + lift only)',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',name:'1hr Private Lesson Package',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">N/A</td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">N/A</td>
            </tr>
            <tr>
                <td class="grey-side-borders pricing-length">Half-day (10-1pm; 1-4-pm)</td>
                <td class="grey-side-borders pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:8,length:"3.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',name:'Half-day Morning Private Lesson (no rental)',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',name:'Half-day Morning Package (3hr)',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="hidden-unless-desktop pricing-competitors">$620</td>
                <td class="hidden-unless-desktop pricing-competitors">$539</td>
            </tr>
            <tr>
                <td class="grey-side-borders pricing-length pricing-grey-background">Full-day (10-4pm)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                <%= number_to_currency(Product.where(location_id:8,length:"6.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',name:'Full-day Private Lesson (no rental)',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',name:'Full-day Private Lesson Package (6hr)',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">$900</td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">$759</td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <div class="row col-md-12 price-details">
            <h3 class="">
                *Lessons <b>at Homewood DO NOT include </b> lift ticket or rentals. Please <a href="mailto:info@snowschoolers.com" class="navy-link">contact support</a> and we may be able to provide a discount. Otherwise you can purchase directly from Homewood at <a href="http://www.skihomewood.com/ski-tickets/lift-tickets/" target="_blank" class="navy-link">www.skihomewood.com</a>.</li>
                <!-- Ticket & rental packages can be booked with your lesson for an additional $90 per person. Lift tickets only can be added-on for $60 per person. -->
            </h3>
            <h3>
                **The lesson package <b>at Granlibakken INCLUDES lift ticket & rental for ONE person</b>. If booking for more than one student, there as an additional fee of $40/pp without rentals, or $65/pp with rentals.
            </h3> 
            <h3>
                ***To see full calendar breakdown of holiday vs. regular pricing, <a href=#full-pricing class="btn btn-primary">Jump to Below</a>.
            </h3> 
            <h3>
                For all lessons, we allow a maximum of <b>up to 5 people in any private lesson</b>.
            </h3>
            <h4 class="left alert-warning">Due to unfavorable snow conditions, Granlibakken Ski Hill is temporarily closed. We expect to re-open in advance of the Martin Luther King Jr. holiday weekend on January 13th. In the meantime, we've disabled online bookings for Granlibakken until further notice. If you would like to secure a reservation at Granlibakken for MLK or another future weekend, please email us at info@snowschoolers.com or you may call us directly at 530-430-SNOW.</h4>            
        </div>
    </div>
</section>
