<section id="" class="pricing-new-lesson">
    <div class="">        
        <h1 class="center navy-text">Book Early and Save over 50%</h1>
        <table class="col-lg-12 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="5">
                    <h1>2017/18 PRIVATE LESSON RATES</h1>
                </th>
            </tr>
            <tr class="">
              <th class="col-xs-2"> </th>
              <th class="pricing-snowschoolers col-xs-2">Homewood* <br> <span class="homewood-pricing">(Snow Schoolers)</span> </th>
              <th class="pricing-snowschoolers col-xs-2">Granlibakken** <br> <span class="homewood-pricing">(Snow Schoolers)</span> </th>
              <th class="pricing-competitors-names col-xs-2">Northstar</th>
              <th class="pricing-competitors-names col-xs-2">Squaw Valley</th>
            </tr>
          </thead>

          <% if (Product.where(location_id:8,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first == nil) %>
          <h1 class='text-danger center'> Pricing Not Yet Available </h1>

          <% else %> 

          <tbody>
            <tr>
                <td class="pricing-length">Early-bird (9-10am)</td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:8,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-competitors">N/A</td>
                <td class="pricing-competitors">N/A</td>
            </tr>
            <tr>
                <td class="pricing-length">Half-day (10-1pm; 1-4-pm)</td>
                <td class="pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:8,length:"3.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:24,length:"3.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-competitors">$595</td>
                <td class="pricing-competitors">$519</td>
            </tr>
            <tr>
                <td class="pricing-length">Full-day (10-4pm)</td>
                <td class="pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:8,length:"6.00",product_type:'private_lesson',calendar_period:Location.find(8).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                <%= number_to_currency(Product.where(location_id:24,length:"6.00",product_type:'private_lesson',calendar_period:Location.find(24).calendar_status).first.price, :precision => 0) %>
                </td>
                <td class="pricing-competitors">$810</td>
                <td class="pricing-competitors">$739</td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <div class="row col-md-12 price-details">
            <h3 class="">
                *Prices <b>at Homewood DO NOT include </b> your lift ticket and/or rental equipment. Ticket & rental packages can be booked with your lesson for an additional $70 per person. 
            </h3>
            <h3>
                **Prices <b>at Granlibakken DO INCLUDE</b> a lift ticket and rental equipment for <b>one person</b>. If booking a private lesson for more than one student, there as an additional fee of $40 per person.
            </h3> 
            <h3>
                For all lessons, we allow a maximum of <b>up to 6 people in any private lesson</b>.
            </h3>            
        </div>
    </div>    
</section>