<% title "Private Ski & Snowboard Lessons in Tahoe" %>
<% meta_tag :description, "Snow Schoolers is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<section id="header-creative" class="top-section">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
        <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/homewood-xmas-morning.jpg'); height: 100%; width: 100%;" data-href=""></div>
    </ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
    -->
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading" class="home-header">SKI SCHOOL MADE SIMPLE<br>
                <span class="smaller-text">Lowest Prices. <span class="hidden-unless-mobile"><br></span> Best instructors. <span class="hidden-unless-mobile"><br></span> No morning hassle.</span>
                <!-- <span class="smaller-text">Affordable ski and snowboard lessons without the hassle.</span> -->
            </h1>
            <a href="#book-a-lesson" class="btn btn-primary btn-lg page-scroll powder-btn">Book a Lesson Today</a>
            <h4>
                <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Private Lesson</a> -->
            </h4>
            <!-- <p class=" hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
        </div>
    </div>
</section>

<section id="why-snowschoolers" class="pricing-section">
    <div class="container">
        <div class="row">
            <h3 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
            </h3>
            <div class="row">
                <hr class="deposit-hr-navy">
                <p class="why-snowschoolers-text navy-text">
                As a team of lifelong skiers and technologists, we believe that <b> anyone </b> can learn how to ski or snowboard. Whether its your first time on snow, or whether you're an experienced skier looking to take your skills to the next level, we're here to ensure you have the <b>perfect lesson experience</b>.
                </p>
                <div style="position:relative;height:0;" class="youtube-embed-container">
                    <iframe src="https://www.youtube.com/embed/CDfe0YY5zOE?rel=0?ecver=2" class="iframe-youtube" allowfullscreen></iframe>
                </div>
            </div>
            <div class="container vertical-divider">
                <div class="call-to-action">
                    <h2 class="navy-text">Sign up for free and book your first lesson today!</h2>
                    <h4><a href="/lessons/new" class="green-link">GET STARTED</a></h4>
                </div>
                <div class="call-to-action">
                    <h2 class="navy-text">Interested in becoming an instructor?</h2>
                    <h4><a href="/apply" class="green-link">APPLY TODAY</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary bg-grey center-content">
    <div>
        <p class="welcome-subheader navy-text"> Winter is back. Compare prices and packages across Tahoe's <a href="/beginners-guide-to-tahoe" class="green-link">16 ski areas</a> in just a few clicks. Book early to save!
        </p>
        <span class="welome-ctas">
        </span>
        <!-- <a href="/tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop Season Passes</a> -->
        <div class="link-container">
            <h4><a href="/learn-to-ski-packages" class="green-link">COMPARE LESSON PRICES</a></h4>
            <h4><a href="tahoe-season-passes" class="green-link">SHOP SEASON PASSES</a></h4>
        </div>
        <!-- <a href="/beginners-guide-to-tahoe" class="btn btn-primary btn-lg page-scroll">Complete Guide to Tahoe</a> -->
    </div>
    <div class="section-box-container">
        <div>
            <p id="search-index-header" class="welcome-subheader navy-text">Already have a favorite mountain? See current deals on lessons, lift tickets, and more.<br>
            <span class="smaller-text"></span>
            <%= render partial: 'products/search' %>
            </p>
        </div>
    </div>
</section>

<section id="book-a-lesson" class="pricing-section">
    <div id="lesson-flow-background">
        <div class="homepage-lesson-container center">
            <%= render partial: "lessons/lesson_new_form" %>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container">
        <h2 class="section-heading how-it-works where-we-teach-header center navy-text">Where do we teach?</h2>
            <div id="more-info" class="row">
                <img src="https://s3.amazonaws.com/snowschoolers/homewood-granlibakken-map.jpg" class="hp-photo-margin">
                <div class="info-box">
                    <p class="why-snowschoolers-text where-we-teach navy-text">
                    <span class=""> Snow Schoolers lessons take place at either <a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.0855833,-120.1627278,17z/data=!3m1!4b1!4m5!3m4!1s0x80997fda4762005f:0x73b0c46aa0c1068d!8m2!3d39.0855833!4d-120.1605391" class="green-link">Homewood</a> or <a href="https://www.google.com/maps/place/Granlibakken+Ski+%26+Sledding+Hill/@39.1561996,-120.1543405,15z/data=!4m12!1m6!3m5!1s0x0:0xbe2330dfc1e3324e!2sGranlibakken+Tahoe!8m2!3d39.1561996!4d-120.1543405!3m4!1s0x80997d88a3630ec7:0x30c3373b77f6c7b4!8m2!3d39.1540167!4d-120.1547885" class="green-link">Granlibakken</a>, both of which are located on the west shore of Lake Tahoe, near Tahoe city.</span>
                    <br>
                    <br>
                    Have questions about what ski area is best for your upcoming vacation? Feel free to <a href="/resorts" class="green-link">browse our resort guide</a>, or simply <a href="#chat" class="green-link">chat</a> with one of our dedicated customer success representative today.
                    <br>
                    </p>
                    <div class="insta-embed">

    <!--                     <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BPq9ZH9Ax2n/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#bigblue #powdays #januburied #tahoe #homewood</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Snow Schoolers (@snowschoolers) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-01-25T02:51:43+00:00">Jan 24, 2017 at 6:51pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
-->                    </div>
                </div>
            </div>
        </div>
</section>

<section id="how-it-works">
    <div class="container">
        <div class="row how-it-works">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading how-it-works navy-text">How SnowSchoolers Works:</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="process-step">
                    <h3 class="navy-text">STEP 1:</h3>
                    <h2 class="navy-text">Request a Lesson</h2>
                </div>
                <div class="service-box process-info">
                    <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                    <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="process-step">
                    <h3 class="navy-text">STEP 2:</h3>
                    <h2 class="navy-text">Lesson Confirmation</h2>
                </div>
                <div class="service-box process-info">
                    <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                    <p class="navy-text">When your reservation is booked, our automated system begins reaching out our instructors to determine the best available instructor. 80% of instructor assignments are confirmed within 30 minutes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="process-step">
                    <h3 class="navy-text">STEP 3:</h3>
                    <h2 class="navy-text">Learn from a Pro</h2>
                </div>
                <div class="service-box process-info">
                    <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                    <p class="navy-text">Prior to your lesson, your instructor will contact you to confirm the meeting location and time. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="process-step">
                    <h3 class="navy-text">STEP 4:</h3>
                    <h2 class="navy-text">Share the Love</h2>
                </div>
                <div class="service-box process-info">
                    <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                    <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                    <!-- <p class="text-muted">Rate the quality of your Snow Schoolers experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                </div>
            </div>
        </div>
    </div>
    <hr class="deposit-hr-navy">
    <div class="text-center">
        <h2 class="section-heading navy-text">Learning to ski or snowboard is hard. <br> Booking a lesson online shouldn't be.</h2>
        <a href="#book-a-lesson" class="btn btn-primary btn-lg page-scroll powder-btn">Book a Lesson Today</a>
    </div>
</section>

<section class="bg-grey" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs12 text-center">
                <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a> -->
                <h3 class="beta-sign-up-offer navy-text" id="subscribe">
                    <!-- Not ready to book today? <br> We are always expanding to new resorts, and occasionally giving away free schwag to lucky customers. Enter your email below to subscribe for updates. -->
                    Interested in learning more? Enter your email below and we'd love to be in touch. Or feel free to give us a call or send us an email and we will get back to you as soon as possible!

                </h3>
                <div class="col-md-12 beta_user-sign-up">
                <%= form_for(@beta_user = BetaUser.new) do |f| %>
                <% if @beta_user.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                        <ul>
                            <% @beta_user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>
                    <div class="email-input">
                    <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                    <%= f.submit "Learn More", class:"btn btn-primary btn-lg page-scroll powder-btn" %>
                    <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                    <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p class="navy-text">(530)430-SNOW</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:info@snowschoolers.com" class="navy-text" target="_blank">info@snowschoolers.com</a></p>
            </div>
        </div>
    </div>
</section>

    <!-- <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">How SnowSchoolers Works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">When your reservation is booked, our automated system begins reaching out our instructors to determine the best available instructor. 80% of instructor assignments are confirmed within 30 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Learn from a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">Prior to your lesson, your instructor will contact you to confirm the meeting location and time. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <hr class="deposit-hr-navy">
        </div>
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="navy-text">Sign up for free and book your first lesson today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </section>
<section class="bg-primary" id="blog">
    <div class="row blog-promo-container">
        <h2 class="center white-text">Hungry for more info?</h2>
        <h2 class="center">
            Check out the latest from our <a href="/blog/latest" class="green-link">blog!</a>
        </h2>
        <hr class="hr-white">
    </div>

    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Lesson Today</a>
        </h3>
    </div>

</section> -->

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
