<div id="middle" class="container">
	<div class="white">

		<h1>Student Info</h1>		

  <% student = @rental.student %>
    <div class='row'>
      <div class='col-md-12'>
        <h4><b><%= student.name %></b></h4>
          <ul>
            <li><span class="student-detail-topic">Student ID: </span><%= student.id %></li>
            <li><span class="student-detail-topic">Age: </span><%= student.age_range %></li>
            <li><span class="student-detail-topic">Gender: </span><%= student.gender %></li>
            <li><span class="student-detail-topic">Experience: </span><%= student.most_recent_level.to_s %></li>
	        <li><span class="student-detail-topic">Height: </span> <%= student.height_feet %>'<%= student.height_inches %></li>
          	<li><span class="student-detail-topic">Weight: </span> <%= student.weight %>lbs</li>
          	<li><span class="student-detail-topic">Shoe Size: </span> <%= student.shoe_size %></li>
          	<% if @rental.lesson.activity == 'Ski' %>
            <li><span class="student-detail-topic">Skier Type: </span> <%= student.skier_type %></li>
            <li><span class="student-detail-topic">Poles Requested: </span> <%= student.poles_requested %></li>
            <% else %>
            <li><span class="student-detail-topic">Board Direction: </span> <%= student.board_direction %></li>
          	<% end %>
          </ul>
      </div>
      
		<%= render 'form', rental: @rental%>

		<%= link_to 'Show', @rental %> |
		<%= link_to 'Back', rentals_path %>
	</div>
</div>