<div id="middle" class="container">
  <div class="white">

    <h1>Rentals</h1>

    <table class="instructors-table">
      <thead>
        <tr>
          <th>Rental ID</th>
          <th>Lesson ID </th>
          <th>Lesson </th>
          <th>Student Name</th>
          <th>Equipment Type</th>
          <th>Identifier</th>
          <th>Status</th>
          <th>Other Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.id %></td>
          <td><%= rental.lesson.id %></td>
          <td><%= link_to rental.lesson.product.name, lesson_path(rental.lesson_id), class: 'btn btn-primary' %></td>
          <td><%= rental.student.name %></td>
          <td><%= rental.resource_type %></td>
          <td><%= rental.resource_id %></td>
          <td><%= rental.status %></td>
          <td><%= rental.other %></td>
          <% if rental.resource_id %>
          <td><%= link_to 'Change Equipment', edit_rental_path(rental), class: 'btn btn-warning' %></td>
          <% else %>
          <td><%= link_to 'Reserve Equipment', edit_rental_path(rental), class: 'btn btn-primary' %></td>
          <% end %>
          <td><%= link_to 'Delete Rental', rental, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Rental', new_rental_path %>
  </div>
</div>