<div id="middle" class="container">
  <div class="white">

    <h1>Rentals</h1>
    <% if current_user && (current_user.user_type == "Snow Schoolers Employee" || current_user.user_type == "Ski Area Partner") %>
    <h3><a href="past_rentals" class="btn btn-success" >View Past Rentals</a></h3>
    <% end %>

    <% @lessons.each do |lesson| %>

    <div class="row">
    <p class='text-left'>
       Rentals for <%= lesson.requester_name %> on <%= lesson.date.strftime("%a %b %e, %Y") %> <%= link_to lesson.product.name, lesson_path(lesson.id), class: 'btn btn-primary' %>
       <%= link_to "Print Rental Agreement", rental_agreement_path(lesson.id), class: 'btn btn-success', target:"_blank" %>
    </p>
    <% lesson.students.each do |student| %>
      <div class='col-md-4'>
          <ul>
            <!-- <li><span class="student-detail-topic">Student ID: </span><%= student.id %></li> -->
            <li><span class="student-detail-topic"><b>Name</b>: </span><%= student.name %></li>
            <li><span class="student-detail-topic"><b>Age:</b></span><%= student.age_range %></li>
            <!-- <li><span class="student-detail-topic">Experience:</b> </span><%= student.most_recent_level.to_s %></li> -->
          <li><span class="student-detail-topic"><b>Height:</b> </span> <%= student.height_feet %>'<%= student.height_inches %></li>
            <li><span class="student-detail-topic"><b>Weight:</b> </span> <%= student.weight %>lbs</li>
            <li><span class="student-detail-topic"><b>Shoe Size:</b> </span> <%= student.shoe_size %></li>
            <% if lesson.activity == 'Ski' %>
            <li><span class="student-detail-topic"><b>Skier Type:</b> </span> <%= student.skier_type %></li>
            <li><span class="student-detail-topic"><b>Ski Poles?</b> </span> <%= student.poles_requested %></li>
            <% else %>
            <li><span class="student-detail-topic"><b>Board Direction:</b> </span> <%= student.board_direction %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    </div>

    <table class="instructors-table">
      <thead>
        <tr>
          <% if current_user && current_user.email == "brian@snowschoolers.com" || current_user.user_type == "Snow Schoolers Employee" %>
          <th>Rental ID</th>
          <th>GB Identifier</th>
          <% end %>
          <th>Student Name</th>
          <th>Equipment Type</th>
          <th>Size</th>
          <th>Status</th>
          <th>Other Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% lesson.rentals.each do |rental| %>
        <tr>
          <% if current_user && current_user.email == "brian@snowschoolers.com" || current_user.user_type == "Snow Schoolers Employee" %>
          <td><%= rental.id %></td>
          <td><%= rental.resource_id ? rental.resource.gb_identifier : "" %></td>
          <% end %>
          <td><%= rental.student.name %></td>
          <td><%= rental.resource_type_text %></td>
          <% if rental.resource_type == 'ski' || rental.resource_type == 'snowboard' %>
          <td><%= rental.resource_id ? rental.resource.board_size : "" %></td>
          <% else %>
          <td><%= rental.resource_id ? rental.resource.boot_size : "" %></td>
          <% end %>
          <td><%= rental.status %></td>
          <td><%= rental.other %></td>
          <% if rental.resource_id %>
          <td><%= link_to 'Change Equipment', edit_rental_path(rental), class: 'btn btn-warning' %></td>
          <% else %>
          <td><%= link_to 'Choose your Equipment', edit_rental_path(rental), class: 'btn btn-primary' %></td>
          <% end %>
          <td><%= link_to 'Cancel Rental', rental, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  
    <hr class="deposit-hr-navy">
  
    <% end %>

  </div>
</div>