<%= semantic_form_for @ticket do |f| %>
<div class="lesson-form-container">

  <div class="new-lesson-pricing-container">

    <% if Location.find(24).partner_status == 'Inactive' %>
    <% granlibakken_class = 'hidden' %>
    <% else %>
    <% granlibakken_class = '' %>
    <% end %>

    <section id="prices_simple" class="pricing-new-lesson">
      <div class="pricing-container">
        <h1 class="navy-text center sledding-headline">
          <span>KINGVALE SLEDDING TICKETS</span>
        </h1>
        <h3 class="center navy-text sledding-subheader">Skip the Line when you Purchase Online!</h3>
        <h2 class="center">
          <% if Date.today.to_s <= "2021-01-04" %>
          <a href="#datepicker2" class="btn btn-primary btn-xl page-scroll powder-btn">Book Sledding Tickets for Next Weekend</a>          
          <% else %>
          <a href="/sled-now" class="btn btn-primary btn-xl page-scroll powder-btn">Book Sledding Tickets for Today</a>          
          <% end %>
        </h2>
        
        <h4 class="navy-text"><span class="underline"><b> COVID UPDATE:</b></span> To prevent overcrowding, we must limit the maximum capacity of active sledders. As such, we now issue a limited number of different colored wristbands for the morning and afternoon "sessions." While your ticket is good for sledding and snowplay all-day long, your session indicates when you have "priority." We will occassionally need to close the hill for a short 10-15min break while we take a precise count of sledders. If we are over capcity and you are not "priority", you'll be instructed to proceed to the overflow area which is just a 5-10min hike uphill where there is still plenty of room for snowplay but with less groomed runs for sledding. </h4>

        <% if (Product.where(location_id:25,product_type:'sledding_ticket').first == nil || Product.where(location_id:25,product_type:'sledding_ticket').first == nil) %>
        <h3 class='text-danger center'> Pricing Not Yet Available </h3>
        <% else %>
        <table class="col-lg-12 col-xs-12 pricing-table">
          <thead class="">
            <tr>
              <th class="center price-header" colspan="6">
              </th>
            </tr>

            <tr class="price-schools">
              <th class="pricing-snowschoolers col-xs-2">Session Time Slot</th>
              <!-- <th class="col-xs-2 text-warning center">*January Sale Pricing Until Jan 24th* </th> -->
              <th class="pricing-snowschoolers col-xs-2">Regular Price</th>
              <th class="pricing-snowschoolers col-xs-2">Holiday Price*</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="grey-side-borders pricing-length pricing-grey-background">Early-bird (9-1030am)</td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(SLEDDING_REGULAR, precision:0) %></td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">$20</td>
            </tr>
            <tr>
              <td class="grey-side-borders pricing-length pricing-grey-background">Morning (11am-1230pm)</td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(SLEDDING_REGULAR, precision:0) %></td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">$25</td>
            </tr>
            <tr>
              <td class="grey-side-borders pricing-length pricing-grey-background">Midday (1-230pm)</td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(SLEDDING_REGULAR, precision:0) %></td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">$25</td>
            </tr>
            <tr>
              <td class="grey-side-borders pricing-length pricing-grey-background">Closing(3-430pm)</td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(SLEDDING_REGULAR, precision:0) %></td>
              <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">$25</td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <p class="text-smaller">
          *Holiday pricing begins Christmas Eve. Holidays include Dec 24-Jan 3, Jan 16-18, Feb 13-21.
        </p>
        <h3 class="text-danger">Note: There is a parking fee of $20 per vehicle. Currently only cash is accepted. We expect to include parking with online reservations soon. Stay tuned! </h3>
      </div>
    </section>


  </div>

  <hr class="deposit-hr-navy hidden-unless-mobile">

 <!--  <% if alert %>
  <div id="alert2" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p> <%= alert %> <%= notice %> </p>
  </div>
  <% end %> -->

  <div class="new-lesson-caption">

    <div class="block">
      <h3 class="center mobile-book-cta">SELECT A DATE & TIME SLOT FOR ADVANCE PURCHASES</h3>
    </div>

    <div class="block">
    </div>
    <h1 class="warning">
      <%= f.semantic_errors :lesson %>
      <%= f.semantic_errors :instructor %>
    </h1>
    <div class="block inputs form-inputs">
      <!-- %= f.input :activity, as: :select, collection: ['Early-bird (9-1030am)', 'Morning (11am-1230pm)','Midday (1-230pm)','Closing(3-430pm)'], include_blank: 'Ticket Type', label: false %> -->

      <%= f.input :requested_location , as: :hidden, collection: Location.active_partners.sort_by { |location| location.name.downcase} , selected: 25, include_blank: 'Location', label: false %>

      <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
      <div class="col-md-3">
        <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker2', value:@date, class:'date-input center', required:true, autocomplete:"off" }, placeholder: 'Date', label: false %>
        <!-- <span class="search-area-icon"></span> -->
      </div>
      <div class="col-md-6"> <!-- offset-md-3 -->
        <%= lt_f.input :slot, as: :select, collection: SLEDDING_SLOTS, include_blank: 'Time Slot', label: false, required:true %>
      </div>
      <% end %>

<!--       <div class="col-md-3 time-slot-input">
        %= f.input :num_days, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], selected: 1, include_blank: 'Number of Tickets', label: false %>
      </div> -->
      <div class="col-md-3 guest-email-input">
        <%= f.email_field :guest_email, placeholder: "your_email@example.com", class: "form-control", type: 'email', required:false, label: false %>
      </div>
    </p>
  </div>

  <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
  <%= f.input :class_type, as: :hidden, input_html: { value: 'sledding' } %>
  <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
  <div id="get-started-form-button" class="row clear-both">
    <h1 class="new-lesson-ctas-list center">
      <!-- %= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %> -->
      <%= f.action :submit, :label => "RESERVE NOW", as: :input, button_html: { class: 'btn btn-lg btn-primary' } %>
      <% if @instructor_requested.nil? %>
      <!-- <li>  OR </li> -->
      <!-- <li> <button id='browser-instructors-cta' href="/browse" value="Browse Instructors" class="btn btn-default btn-lg">Browse instructors</button></li> -->
      <% end %>
      <!-- <a href='/lessons-availability' class= 'btn btn-success btn-lg'> SEE AVAILABLE TIMES </a> -->
    </div>


  </div>

</div>

<% end %>