<div class='nested-fields student-box'>
  <%= f.inputs do %>
    <div class='row'>
      <div class='col-md-6'>
        <label>Participant Name</label>
        <span class='remove-student'>(<%= link_to_remove_association "Remove Student", f, class: 'remove-student' %>)</span>
        <%= f.text_field :name, placeholder: "Full Name of Participant}", class: "form-control sledder-name", label: false, required:true %>
      </div>
      <div class='col-md-3'>
        <label>Age</label>
        <%= f.text_field :age_range, as: :number, class: "form-control sledder-age age-range-inputs", label: false, required:true %>
        <!-- %= f.text_field :age, class: "form-control", label: false, required:true %> -->
      </div>
      <div class='col-md-3 hidden'>
        <label>Gender</label>
        <%= f.select :gender, ['Male', 'Female'], {}, {class: 'gender form-control', required:false, include_blank: 'Gender'} %>
      </div>
    </div>
    <!-- <div class='row'>
          <% if current_user %>
          %= f.input :requester_id, as: :hidden, input_html: { value: current_user.id } %>
          <% end %>
    </div> -->    
  <% end %>
</div>