  <% if @ticket.paid? %>
  <h1 class="center">
    Thank you for booking your snowpark ticket(s) with Snow Schoolers!
  </h1>
  <h3><b> What happens next?</b></h3>
  <ol>
    <li>If you are already at the snowpark, you may now skip the main ticket line. Head to the sign that says "Online Ticket Check-in" and a staff member will give you your wristbands for the day. </li>
    <li>Review our <a href="/covid19" class="navy-link">pandemic policies</a> again. Help us keep the community safe, and ensure we all get to enjoy a full winter season.</li>
    <!-- <li>Complete the <a href = "https://waiver.smartwaiver.com/v/snowschoolers2021" class="green-link">online waiver</a> for yourself and all participants.</li>     -->
    <li>Find and save your confirmation number below.</li>
  </ol>
  <hr>
  <% end %>
  <p>
    <b>Booking status:</b>
    <%= @ticket.state %>
  </p>

  <div class="details-info-box">
    <% if @ticket.booked? %>
    <p class="confirmation-number">
      <b> Confirmation Receipt:</b>
      Your confirmation number is below. Please print this page or save the confirmation email you will automaticaly receive. You will need to show your confirmation number to a staff member to receive wristbands to enter the snow park.
    </p>
    <ul>
      <li><span style="font-weight: bold; font-size:18px;"><%=@ticket.confirmation_number%></span>.</li>
    </ul>
    <% end %>
  </div>

  <% if @ticket.booked? %>
  <p class="left">
    <b> Release of Liability </b>
    <br>
    By purchasing your sledding ticket(s) you have agreed to Snow Schoolers' terms of service and release of liability. You may print and review the full liability release at the link below.
    <br>
    <span class="lesson-detail-topic"> <%= link_to 'View Release of Liability', liability_release_path(@ticket.id), class:"btn btn-tertiary", target:"_blank" %><br>
  </p>
  <% end %>

  <hr class="deposit-hr-navy">

  <p><b>Reservation Summary</b></p>

  <div class='row'>

    <div class="col-md-12 col-xs-12">
      <h4 class="slot-details-mobile">
        <span class="lesson-detail-topic">Reservation Name:</span> <%= @ticket.requester_name %> <br>
        <span class="lesson-detail-topic">Phone:</span> <%= number_to_phone(@ticket.phone_number) %> <br>
        <span class="lesson-detail-topic">Email:</span> <%= @ticket.requester ? @ticket.requester.email : @ticket.guest_email %> <br>
        <span class="lesson-detail-topic">Location:</span>  <%= @ticket.location.name %><br>
        <!-- <span class="lesson-detail-topic">Sport:</span>  <%= @ticket.activity %><br> -->
        <span class="lesson-detail-topic">Date:</span> <%= @ticket.date.strftime("%A %b #{@ticket.date.day.ordinalize}, %Y") %><br>
        <span class="lesson-detail-topic">Time Slot:</span> <%= @ticket.slot %> <br>
        <span class="lesson-detail-topic">Tickets purchased:</span> <%= @ticket.participants.count %> <br>
        <span class="lesson-detail-topic">Total price:</span> <%= number_to_currency(@ticket.price) %> <br><br>
      </h4>
    </div>

    <div class="row">
      <ul>
      <% if @ticket.sleds_purchased %>
        <li>Sleds purchased: <%= @ticket.sleds_purchased %> for $20 ea. (subtotal: <%= number_to_currency(@ticket.sleds_purchased * 20) %>) </li>
      <% end %>

      <% unless @ticket.free_participants_redeemed.nil? %>
        <li>The ticket fee for <%=@ticket.free_participants_redeemed %> participant on this reservation has been waived (value: <%=number_to_currency(@ticket.product.price) %>). </li>
      <% end %>

      <% if @ticket.retail_items_purchased? %>
        <li>Additonally, this order includes <%=@ticket.retail_item_quantity %> <%= @ticket.retail_item_name %>(s) at <%= number_to_currency(@ticket.retail_item_price_per_item)%> each. (subtotal: <%= number_to_currency(@ticket.retail_item_quantity * @ticket.retail_item_price_per_item) %> )</li>
      <% end %>
      </ul>
    </div>

  </div>

<div class="details-info-box">
  <!-- %= render partial: 'price_details' %> -->
</div>
<div class='details-info-box'>
  <%= render partial: 'participant_details' %>
</div>