<div class="wide-container">
  <div id="all-lessons" class="">
    <h1 class="white-text">Upcoming Sledding Capacity</h1>

    <% if current_user && (current_user.email == "brian@snowschoolers.com" || current_user.user_type == "Snow Schoolers Employee") %>
    <div class="admin-viewable">
      <ul>
        <li>Total Tickets Booked this Season: <%=Ticket.total_tickets_sold_this_season %></li>
        <li>Total Revenue Booked this Season: TBD
          <!-- %= number_to_currency(Ticket.total_ticket_revenue_this_season) %> -->
        </li>
        <li>Bookings Today: <%= Ticket.todays_bookings.count %></li>
        <li>Tickets Today: <%= Ticket.todays_ticket_count %></li>
        <li>Revenue Today: TBD
            <!-- %= number_to_currency(Ticket.todays_ticket_revenue) %> -->
        </li>
      </ul>
      <%= link_to "View all sled tickets", all_booked_sled_tickets_path, class: 'btn btn-warning' %>   
      <%= link_to "Fix / Assign all blank sessions to morning", assign_tix_to_sessions_path, class: 'btn btn-success' %>   
    </div>
    <div class="center">
      <div class="buffer"></div>
      <!-- %= render partial: 'products/search' %> -->
    </div>
    <% end %>

      <%= render partial: 'tickets/tickets_capacity_table' %>
   
  </div>
  <hr>
</div>