<% title "Search" %>

<div id="middle" class="report-container lesson-index-mobile">
  <div class="white">

  <!-- %= render partial: 'lessons/season_summary_stats' %> -->


<div class="center">
  <div class="buffer"></div>
  TBD - search options not yet enable; currently just a tickets export
  <%= link_to "Export All to CSV (including refunded)", all_booked_sled_tickets_path(format: "csv"), class: 'btn btn-lg btn-success' %>
  <!-- %= render partial: 'lessons/search' %> -->
</div>

<!-- SECTION 0 - AVAILABLE LESSON REQUESTS FOR INSTRUCTORS -->
<div id="available-lessons" class="">
<table class="instructors-table">
  <thead>
    <tr>
      <th class="lessons-table-cells lesson-date"></th>
      <th class="lessons-table-cells lesson-date">Customer Name</th>
      <th class="lessons-table-cells lesson-date">Booking Date (created_at)</th>
      <th class="lessons-table-cells lesson-date">Reservation Date</th>
      <th class="lessons-table-cells lesson-type">Reservation Type</th>
      <th class="lessons-table-cells lesson-type">Session</th>
      <th class="lessons-table-cells lesson-instructor"># Tickets</th>
      <th class="lessons-table-cells lesson-instructor"># Sleds Purchased</th>
      <th class="lessons-table-cells lesson-instructor">Reservation Price</th>
      <th class="lessons-table-cells lesson-instructor">Payment Method</th>
      <th class="lessons-table-cells lesson-student">Booking State</th>
      <th class="lessons-table-cells">Location</th>
    </tr>
  </thead>

  <tbody>
      <% @tickets.each_with_index do |ticket, index| %>
          <tr>
            <td class="lessons-table-cells lesson-date"><%= index+1 %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.requester_name %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.created_at.strftime("%m/%d/%Y") %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.lesson_time.date.strftime("%m/%d/%Y") %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.lesson_time.slot %></td>
            <td><%= link_to "#{ticket.product.name}", ticket, class: "" %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.participants.count %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.sleds_purchased %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.price %></td>
            <td class="lessons-table-cells lesson-date"><%= ticket.payment_method %></td>
            <td class="lessons-table-cells"><%= ticket.state %></td>
            <td class="lessons-table-cells lesson-type"><%= ticket.location.name %></td>
          </tr>
      <% end %>
  </tbody>
</table>
</div>
<hr>

</div>
