<% title "Sledding Ticket Details" %>

<div id="middle" class="container">
  <div class="white row">
    <% if current_user && (current_user.user_type == "Snow Schoolers Employee") %>
    <div class="row vertical-padding admin-viewable">

      <span class="text-larger">      Total bookings (tickets) sold for this date/session: <%= @ticket.current_session_bookings.count %> (<%=@ticket.current_session_tickets_sold %> tickets).</span>
      <br> <span class="text-larger">  Cash bookings: TBD </span>
      <br> <span class="text-larger">  Square bookings: TBD </span>

    <h4> (ADMIN ONLY VIEW) </h4>
          <%= semantic_form_for @ticket do |f| %>
          <!-- include lesson time fields to update lesson instructor manually -->
            <div class="">
                <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
                <div class='row'>
                  <h4 class="alert-danger">[optional] - Admin can change date/time directly from here. Do not leave blank if current time slot values are not selected.</h4>
                  <div class="col-md-4">
                    <label class="lesson-label">Date</label>
                    <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', required:true }, placeholder: 'Pick a date', label: false %>
                    <span class="search-area-icon"></span>
                  </div>

                  <div class="col-md-4">
                    <label class="lesson-label">Slot</label>
                    <%= lt_f.input :slot, as: :select, collection: SLEDDING_SLOTS, value:@ticket.slot, include_blank: false, label: false, required:true %>
                  </div>
                  <div class="col-md-4">
                    <label class="lesson-label"></label>
                    <%= f.submit "Save", class: "btn btn-success" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          
          <hr>
        <%= link_to "Process Cash Payment", admin_confirm_cash_path(@ticket), method: :put, class: "btn btn-default btn-airbnb" %>
        <%= link_to "Mark Paid w/ Square", admin_confirm_square_path(@ticket), method: :put, class: "btn btn-secondary" %>
        <%= link_to "Mark Split Charge w/ note in Square", admin_confirm_split_charge_path(@ticket), method: :put, class: "btn btn-tertiary" %>
        <%= link_to "Send Reminder Email", reminder_sledding_confirmation_path(@ticket), class: "btn btn-success" %>
        <%= link_to 'Edit Reservation', edit_ticket_path(@ticket), class: "btn btn-success" %> <span> </span>
        <%= link_to 'Edit Reservation & Reissue Deposit', rebook_ticket_path(@ticket), method: :put, class: "btn btn-warning" %><span> </span>
        <%= link_to 'Issue Refund', issue_sledding_refund_path(@ticket), method: :put, class: "btn btn-danger" %><span> </span>

    </div>
    <% end %>

    <% if @ticket.ready_for_deposit? %>
      <%= render partial: 'confirm_ticket_reservation' %>
    <% end %>

    <% if current_user && current_user.instructor.nil? && @ticket.state == "booked" || @ticket.state == "confirmed" %>
      <!-- <script src="https://www.smartwaiver.com/m/webpl/f.js?webpl_waiver=584daa0c8f287&webpl_title=Please%20now%20sign%20your%20waiver&webpl_align=Left&webpl_fontsize=20&webpl_background=%2355c9b2&webpl_fontcolor=%23ffffff&webpl_font=Verdana" type="text/javascript"></script> -->
    <% end %>


    <%= render partial: 'sledding_details' %>

    <% if @ticket.canceled? %>
      <p>This ticket has been canceled.</p>
    <% end %>
              <%= render partial: "tickets_cancellation_policy" %>
  </div>
</div>

<!-- SLIDER -->
<!-- <img id="cycle-loader" src="https://s3.amazonaws.com/snowschoolers/images/spinner.gif" alt="loader" /> -->

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://snowschoolers.s3.amazonaws.com/Kingvale-Sled-Hill-and-80-1280x853.jpg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
