<div class="col-md-12">
        <%= form_tag confirm_reservation_path do %>

          <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
          <article class="center">
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

            <h1 class="center">Authorize Payment</h1>

            <div id="booking-details-container" class="booking-details">
              
              <% if @lesson.class_type == "tickets" %>

                  <div class='colm-md-12 col-xs-12'>
                      <ul>
                          <li><span class="lesson-detail-topic">Ticket Type:</span> <%= @lesson.activity %></li>
                          <li><span class="lesson-detail-topic">Price per student:</span> <%= number_to_currency(@lesson.ticket_price) %></li>
                          <li><span class="lesson-detail-topic">Total price:</span> <%= number_to_currency(@lesson.total_ticket_price) %></li>                    
                          <% if @lesson.package_info %>
                          <br><span class="italic"> <%= @lesson.package_info %></span>
                          <% end %>
                      </ul>
                  </div>
                  <p class="warning">
                    <b> Note - </b> In order to purchase multiple types of tickets (Adult/Teen/Child) you will unfortunately have to process multiple orders.
                  </p>

              <% else %>


              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Type:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                    <span class="left">
                      <%= @lesson.class_type_text %>, number of students: <%= @lesson.students.count %>
                    </span>
                </div>
              </div>                              
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Date:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                    <span class="left">
                      <% if @lesson.is_gift_voucher? %>
                        TBD
                      <% else %>                
                        <%= @lesson.lesson_time.date.strftime("%b %d, %Y") %>
                      <% end %>
                    </span>
                </div>
              </div>
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Lesson Time:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                    <span class="left">
                      <% if @lesson.num_days && @lesson.num_days > 1 %>
                        <%= @lesson.num_days %>;
                      <% end %>
                  <% if @lesson.package_info %>
                    <% @lesson.package_info.include?("custom start time") ? custom_slot_class = "strikethrough" : custom_slot_class = "normal" %>
                  <% end %>
                  <span class=<%= custom_slot_class %> ><%= @lesson.lesson_time.slot %></span>
                    </span>
                </div>
              </div>
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Location:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                    <span class="left">
                      <%= @lesson.location.name %>  (<a href="https://www.google.com/maps/place/<%=@lesson.location.address%>" ><%=@lesson.location.address%></a>)
                    </span>
                </div>
              </div>
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Equipment:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                    <span class="left">
                      <%if @lesson.includes_rental_package? %>
                        Included
                        <!-- % if @lesson.location.id == 25 %> -->
                              <!-- <h4 class="text-warning left">Please note that your reservation includes a $40 "rental deposit" for your rentals. We are partnering with <a href="" class="navy-text" target="_blank">Ski Butlers</a> to provide equipment to all lesson customers at Kingvale this season. As such, this $40 will go directly to Ski Butlers to cover a "basic" package. Shortly after booking, a representative from Ski Butlers will contact you to confirm your information and rental delivery details. If for any reason you are not able to secure appropriate equipment from Ski Butlers, this rental deposit amount will be fully refunded. </h4> -->
                        <!-- % end %>  -->
                      <% else %>
                        Not Included  
                    <% end %>

                    </span>
                </div>
              </div>
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <b>Price:</b>
                </div>
                <div class="col-xs-8 col-md-9">
                  <span class="left">

                  <% if @lesson.lesson_price.nil? || @lesson.price == @lesson.lesson_price %>
                      <% amount = (@lesson.price.to_f*100).to_i %>
                      <%= number_to_currency(@lesson.price) %>
    
                      <% if @lesson.product && (@lesson.product.calendar_period == 'Holiday' || @lesson.product.calendar_period == 'Peak') %>
                        (holiday pricing)
                      <% end %>

                      <% if @lesson.product_id == 980191086 %>
                          <span class="text-danger"><br>You have selected date or time or location combination that is not permitted. Please contact guest services at hello@snowschoolers.com and we can assist with selecting an appropriate lesson.</span>
                      <% end %>

          
                      <% if @lesson.promo_code %>
                        <% if @lesson.promo_code.promo_code == "CARNIVAL2021" %>
                          <p class="italic">Promotional Offer: To redeem a free group lesson as part of the 2021 Spring Carnival, a valid sleddding ticket must be purchased. At the 50% discount (costume required), that price is $10 per person. If you are at Kingvale and have already purchased a sled ticket, please find a staff member and they can validate your ticket and make the lesson registration free.</p>
                        <% else %>
                          <p class="italic">Original price: <%= number_to_currency(@lesson.original_price) %></p>
                          <p class="italic">Promotional Offer: <%= @lesson.promo_code.description %></p>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% amount =(@lesson.lesson_price.to_f*100).to_i %>
                      <p><%= number_to_currency(@lesson.lesson_price.to_s) %></p>

                  <% end %>

                  </span>
                </div>
              </div>
              <div class="row full-width">
                <div class="col-xs-4 col-md-3">
                  <!-- <b>Additional Info:</b> -->
                </div>
                <div class="col-xs-8 col-md-9">
                    <% if @lesson.includes_lift_or_rental_package? || @lesson.is_gift_voucher? || @lesson.package_info %>
                      <p><%= @lesson.package_info %></p>
                    <% end %>

                    <p>
                      <span class="left">
                      <% if @lesson.class_type == "private" %>
                        <% if @lesson.additional_students_with_gear > 0 %>
                          <%= @lesson.additional_students_with_gear %> additional student(s) with rentals for <%= number_to_currency(@lesson.cost_per_additional_student_with_gear) %> each;
                        <% end %>
                        <% if @lesson.additional_students_without_gear > 0 %>
                          <%= @lesson.additional_students_without_gear %> additional student(s) without equipment for <%= number_to_currency(@lesson.cost_per_additional_student_without_gear) %> each;
                        <% end %>
                      <% end %>
                      </span>
                    </p>

                </div>
              </div>              
              <div class="row">
                <div class="col-xs-12">
                  <ul class="student-list-confirm-reservation">
                    <% @lesson.students.each do |student| %>
                      <li><%= student.name %>, age <%= student.age_range %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="row lodging-discount-warning">
                <div class="col-xs-12">
                  <% if @lesson.lodging_guest == true && @lesson.lodging_reservation_id.length != 6 %>
                    <p>*You may have mis-entered your lodging reservation number. Please confirm and re-enter the reservation id you received when booking your accommdations, and we will apply the 50% discount.</p>
                  <% end %>
                </div>
              </div>

            <% end %>
            </div>

              
            <div class="col-md-12 center">
              <label class="amount"></label>

              <%= link_to 'Edit Reservation', edit_lesson_path(@lesson), class: "center btn btn-sm btn-primary" %>
              <br>
              <!-- % if @lesson.promo_code && @lesson.promo_code.promo_code == "LOCALSDAY2021" && @lesson.date.to_s != "2021-02-12" %> -->
              <% if @lesson.promo_code && @lesson.promo_code.promo_code == "CARNIVAL2021" && @lesson.date.to_s != "2021-03-21" %>
                 
                  <h3 class="text-danger">
                    <!-- Unfortunately you've attempted to apply the locals 50% off rate, which is only valid on 2/12/21.  -->
                    Unfortunately you've attempted to reserve a free group lesson for the Kingvale Spring Carnival, which is only valid on 3/21/21. 
                    <br>Please <%= link_to 'Edit Reservation', edit_lesson_path(@lesson, :promo_code => "CARNIVAL2021"), class: "center btn btn-sm btn-primary" %> and change your date or <%= link_to 'click here', edit_lesson_path(@lesson, :promo_code => "NONE"), class: "center btn btn-sm btn-tertiary" %> to book another day at normal rates.
                  </h3>

                <% else %>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Thanks for choosing Snow Schoolers!"
                        data-name="Snow Schoolers, Inc"
                        data-image="https://s3.amazonaws.com/snowschoolers/SnowSchoolers-favicon.png"
                        data-amount=<%= amount %>
                        data-locale="auto"
                        data-zip-code="true">
                </script>
              <% end %>
              <%= render partial: "lessons/cancellation_policy" %>
            </div>

        <% end %>
<div class="col-md-12">
  <hr class="deposit-hr-navy">
</div>

</div>