          <tr>
            <td class="lessons-table-cells lesson-date"><%= lesson.start_time %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.activity %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.students.count %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.instructor ? lesson.instructor.name : "TBD" %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.private_request? %></td>
            <% if lesson.product && lesson.custom_start_time? %>
              <td><%= link_to "#{lesson.package_info}", lesson, class: "" %></td>
              <% elsif  lesson.product %>
              <td><%= link_to "#{lesson.product.name}", lesson, class: "" %></td>
            <% end %>
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student"><%= lesson.requester_name %>, <%= lesson.phone_number %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student"><%= lesson.guest_email %></td>
            <% end %>
            <td class="lessons-table-cells"><%= lesson.state %></td>
            <td class="lessons-table-cells"><%= lesson.confirmation_number %></td>
            <td class="lessons-table-cells"><%= lesson.includes_rental_package? ? "Yes" : "No" %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.location.name %></td>
            <td><%= link_to "Send Email (student)", send_day_before_reminder_email_path(lesson), class: "btn btn-success" %><br>
            <%= link_to "Send SMS (instructor)", send_reminder_sms_to_instructor_path(lesson), class: "btn btn-default" %>
            </td>
          </tr>
