<div class="row">
<% if current_user && ((@lesson.instructor && current_user == @lesson.instructor.user) || current_user.user_type == "Snow Schoolers Employee") %>
  
  <% @lesson.report_card = ReportCard.new unless @lesson.report_card %>
  
  <%= semantic_form_for @lesson.report_card do |f| %>

    <% @lesson.students.each do |student| %>
      <h3 class="student-name"><%= student.name %> (age <%= student.age_range %>)</h3>
      <ul>
        <li>
            <h3 class="italic">Before the lesson, they were a <%=student.most_recent_level %></h3>
        </li>
      </ul>

  <%= f.inputs do %>
    <div class="hidden">
      <%= f.input :student_id, as: :string, input_html: {required: true, class:"form-control", value: student.id} %>
    </div>
    <div class="hidden">
      <%= f.input :lesson_id, as: :string, input_html: {required: true, class:"form-control", value: @lesson.id} %>
    </div>
    <div class="hidden">
      <%= f.input :instructor_id, as: :string, input_html: {required: true, class:"form-control", value: @lesson.instructor_id} %>
    </div>

    <div class='row'>
          <h3 class="underline">Student's effort & attitude:</h3>
          

            <%= f.input :effort_grade, as: :select, collection: ["Best-in-class!","Great","Okay","Needs Improvement"], selected: 'Great', include_blank: '', :input_html => { :class => 'form-control ability-level'}, label: false %>

    </div>

    <div class='row'>
          <h3 class="underline">Skills & exercises we learned today:</h3>
            <input type="checkbox" id="selectAllSnowboardLevels" class="bold" value="selectAll"> Select / De-select All<br/><br/>
            <%= f.collection_check_boxes :attitude_grade, Skill.where(ability_level:@lesson.levels_range), :id, :name do |skill| %>
              <div class="collection-check-box">
                <%= skill.check_box(class: 'snowboard-checkbox') %>
                <%= skill.label %>
              </div>
            <% end %>
    </div>

    <div class='row'>
            <h3>After today's lesson, their level is: </h3>
            <%= f.input :ability_level, as: :select, collection:
              ["Level 1 - First-timer",
              "Level 2 - Green Bean - can safely stop on beginner terrain.",
              "Level 3 - Green Machine - can turn in both directions.",
              "Level 4 - Blue Beginner - can link turns with moderate speed.",
              "Level 5 - Blue Boss - mostly parallel turns.",
              "Level 6 - Parallel Pro",
              "Level 7 - Basic Black",
              "Level 8 - Mogul Master",
              "Level 9 - Professor of Off-Piste"], selected: student.most_recent_level,
               include_blank: "", :input_html => { :class => 'form-control ability-level'}, label: false %>              
    </div>

      <a href="#toggleFeedback" class="btn btn-primary btn-xs btn-toggleFeedback">Add More Feedback</a>
      <div id="" class="hidden qualitative_feeback">
        <%= f.input :qualitative_feeback, as: :text, input_html: { required:false }, placeholder: "Describe eany unique challenges or areas of progress for the student.", class: "feedback-for-student" , label:false %>
      </div>

    <hr class="deposit-hr-navy">

    <% if current_user %>
    <%= f.input :requester_id, as: :hidden, input_html: { value: current_user.id } %>
    <% end %>

  <% end %>


<% end %>

<!--   <div class="col-md-12">
    <label><b> Any other feedback for the entire lesson? </b></label>
  </div> -->  

  <div class="col-md-12">
    <%= f.submit "Submit Feedback", class: "btn btn-success" %>
  </div>
  <% end %>
<% elsif current_user.nil? %>
  <h3>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Log in to update this lesson.</a>
  </h3>
<% else %>
  <div class="col-md-6">
    <h4 class="alert-warning  ">
      Waiting for instructor to confirm lesson start and end times.
    </h4>
  </div>
<% end %>
</div>
<hr>
