  <div id="lesson-flow-background">
      <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/thredbo-village-resort-hero.jpg" alt="" />
  </div>

<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h1>Update Your Lesson</h1>
    </header>

    <%  if ENV['HOST_DOMAIN'] == "localhost:3000" || current_user && (current_user.user_type == "Snow Schoolers Employee" || current_user.email == "bbensch@gmail.com") %>
    <div id="autofill-container" class="admin-viewable">
      <a href="#fill" id="autofill_complete_form" class="btn btn-primary">Autofill Form</a>
    </div>
    <% end %>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :instructor %>
      <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
    <% if current_user && (current_user.user_type == "Snow Schoolers Employee" || current_user.email == "bbensch@gmail.com") %>
        <div class="admin-viewable">
          <div class="col-md-12 vertical-padding">
          <h4> ADMIN ONLY: Select user email to assign this lesson to a new requester.</h4>
              <div class="col-md-4">
                <label class="lesson-label"> Assign to User: </label> <br>
                <%= f.select :requester_id, options_from_collection_for_select(User.all.sort {|a,b| a.username_for_admin <=> b.username_for_admin}, :id, :username_for_admin, selected:@lesson.requester_id), include_blank:true %>
              </div>
              <div class="col-md-4">
                <label class="lesson-label">Number of Days</label>
                <%= f.input :num_days, as: :string, placeholder: "How many consecutive days?", label: false %>
              </div>
            <div class="col-md-4">
                <label class="lesson-label">Includes a lift ticket and/or rental package?</label>
                <%= f.input :includes_lift_or_rental_package, as: :radio, :collection=> [true, false], label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label class="lesson-label">Is gift voucher?</label>
                <%= f.input :is_gift_voucher, as: :radio, :collection=> [true, false], label: false %>
            </div>
            <div class="col-md-4">
                <label class="lesson-label">Gift Recipient Name</label>
                <%= f.input :gift_recipient_name, as: :string, placeholder: "Full Name", label: false %>
            </div>
            <div class="col-md-4">
                <label class="lesson-label">Gift Recipient Email</label>
                <%= f.input :gift_recipient_email, as: :string, placeholder: "Email", label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                  <label class="lesson-label">Package info</label>
                  <%= f.input :package_info, as: :text, placeholder: "Includes one adult lift ticket for $64", label: false %>
                </div>
                <div class="col-md-6">
                    <label class="lesson-label">Exclude from reporting (HTA, etc.)?</label>
                  <%= f.select :focus_area, ['No, include as normal','Exclude'], {}, {class: 'form-control', required:false, include_blank:true} %>
                </div>
                <div class="col-md-6">
                  <label class="lesson-label">Custom start time</label>
                  <%= f.input :planned_start_time, as: :string, placeholder: "Start Time", input_html: { id: 'start-timepicker' }, class: "end-times", label: false, required: false %>
                </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-6">
                <label class="lesson-label">Direct Lesson Cost</label>
                <%= f.input :lesson_cost, as: :string, placeholder: "Enter price", label: false %>
              </div>
              <div class="col-md-6">
                <label class="lesson-label">Non-Lesson Cost</label>
                <%= f.input :non_lesson_cost, as: :string, placeholder: "Enter price", label: false %>
              </div>
              <div class="col-md-6">
                <label class="lesson-label">Reservation Price (charged to confirm reservation)</label>
                <%= f.input :lesson_price, as: :string, placeholder: "Enter price", label: false %>
              </div>
              <div class="col-md-6">
                <label class="lesson-label">Admin Adjustments (refunds, additional students, etc. to be charged after lesson)</label>
                <%= f.input :admin_price_adjustment, as: :string, placeholder: "Enter price", label: false %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% if current_user.nil? || current_user.email == "brian@snowschoolers.com" || current_user.user_type == "Snow Schoolers Employee" %>
      <div class='row'>
        <% if @lesson.private_lesson? %>
        <h2><b>Private Lesson Request Form</b> - 
          <spand class="text-smaller italic">To book a <b>group lesson</b>, <a href="/lessons/new#group-request" class="green-link">click here</a>.</span>
        </h2>
        <% else %>
        <h2><b>Group Lesson Request Form</b> - 
          <spand class="text-smaller italic">To book a <b>private lesson</b>, <a href="/lessons/new#private-request" class="green-link">click here</a>.</span>
        </h2>
        <% end %>
      </div>
      <div class='row'>
        <div class="col-md-6">
          <h4>Book as a <strong>Guest</strong> | Or <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Sign-in to your Account</a></h4>
              <label class="lesson-label">Email</label>
              <%= f.email_field :guest_email, placeholder: "email@example.com", class: "form-control", type: 'email', required:true, label: false %>
        </div>
      </div>
      <% end %>
      <div class='row update-lesson-form'>
        <div class="col-md-6">
          <h4>Basic <strong>Info</strong></h4>

          <div class='row'>

            <div class="col-md-6">
              <label>Lesson Type</label>
              <%= f.select :activity, ['Ski', 'Snowboard'], {}, {class: 'form-control', required:true, include_blank:'Lesson Type'} %>
            </div>

            <div class="col-md-6">
              <label class="lesson-label">Location</label>
                <% if current_user && current_user.user_type == "Snow Schoolers Employee" || session[:granlibakken] == 'true' %>
                <%= f.input :requested_location , as: :select, collection: Location.where("id=? OR id =?",8,24).sort_by { |location| location.name.downcase} , include_blank: 'Location', label: false %>
                  <% else %>
                <%= f.input :requested_location , as: :select, collection: Location.active_partners.sort_by { |location| location.name.downcase} , include_blank: 'Location', label: false %>
                <% end %>
            </div>
          </div>
          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-4">
                <label class="lesson-label">Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker' }, placeholder: 'Pick a date', label: false %>
                <span class="search-area-icon"></span>
              </div>

              <div class="col-md-4">
                <label class="lesson-label">Slot</label>
                <% if @lesson.group_lesson? %>
                <%= lt_f.input :slot, as: :select, collection: GROUP_SLOTS, include_blank: 'Time', label: false %>
                <% else %>
                <%= lt_f.input :slot, as: :select, collection: PRIVATE_SLOTS, include_blank: 'Time', label: false %>
                <% end %>                

              </div>
          <% end %>
            <div class="col-md-4">
              <label>Price</label>
                <h2> <span id="lesson-price"><%= number_to_currency(@lesson.price) %></span></h2>
            </div>
            <div class="col-md-12">
              <h4 class="text-warning left">Note: The price above will update based on number of students in lesson. Final price will be confirmed on the next page.</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label>Your Name</label>
                <%= f.text_field :requester_name, value: @lesson.requester_name, class: "form-control", required: true, label: false %>
              </div>
              <div class="col-md-6">
                <label class="lesson-label">Cell Phone<span class="lesson-label-small"> (Shared only with your instructor)</span></label>
                <%= f.text_field :phone_number, placeholder: 'xxx-xxx-xxxx', class: 'form-control', required:true, include_blank:false %>
              </div>
            </div>

          <div class='row'>
            <div class="col-md-6">

<!--               <label>Do you have equipment?</label>
              <%= f.input :gear, as: :select, collection: [['Yes, I already have my equipment.', true], ['No, I will need to rent equipment.', false]], include_blank: '(Skis,boots,etc.)', label: false, required:true %>  -->
             </div>
<!--             <div class="col-md-6">
              <label class="lesson-label">Have a lift ticket or pass?</label>
              <%= f.input :lift_ticket_status, as: :select, collection: [['Yes, I have one.', true], ['No, I still need one.', false]], include_blank: 'Choose one', label: false, required:true %>
            </div> -->

            <div class="col-md-12">
            <!-- Price ($75 per hour): $<span id="donation-amount"><%= @lesson.price %></span>.00 -->
            </div>
          </div>

          <h4>Student <strong>Info</strong></h4>
          <!-- <div id="previous_students">
            % if current_user.students %>
            <h4>This lesson is for the previously entered student(s) below.</h4>
              %= f.select :id, options_from_collection_for_select(current_user.students, :id, :name), {}, {required: false, class: 'form-control'} %>
            % end %>
          </div> -->
          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <div class="small-buffer"></div>
            <h3 class="text-warning hidden" id="ability-level-warning">Warning - students must all be within one level of each other in order to participate in the same lesson.</h3>
            <div class='links'>
              <span class="add-student-pricing">
                You may add up to 4 additional students and your total lesson cost will be adjusted accordingly.
              <%= link_to_add_association 'Add Another Student', f, :students, limit: 2, class: 'btn btn-default', id:'add-student-button' %>
              </span>
              <div class='col-md-12'>
              <h4> Lift Ticket & Rental Costs </h4>
                <ul>
                  <li class="left">
                  Lessons <b>at Homewood DO NOT include </b> your lift ticket or rentals. Lift ticket and rentals can be purchased at Homewood the day of your lesson. You may also <a href="mailto:info@snowschoolers.com" class="navy-link">contact us by email </a> or call us at <a href="tel:5304307669" class="navy-link">530-430-SNOW</a> to include lift tickets with your lesson at the rates below.
                    <ul>
                      <li>Adult ticket: $70 per student</li>
                      <li>Child ticket: $30 per student</li>
                    </ul>
                  Lift tickets & rentals may also be purchased directly from Homewood at <a href="http://www.skihomewood.com/ski-tickets/lift-tickets/" target="_blank" class="navy-link">www.skihomewood.com/tickets-&-rentals</a>.</li>
                  </li>
                  <li class="left">
                    The lesson package <b>at Granlibakken INCLUDES lift ticket & rental for ONE person</b>. If booking for more than one student, there is an additional fee of $40/pp without rentals, or $65/pp with rentals.
                  </li>
                </ul>
                <h4 class=><b>Additional Students at Granlibkken</b></h4>
                <ul>
                  <li class="left">Lift Pass + Rental: +$65 per additional student</li>
                  <li class="left">Lift Pass Only: +$40 per additional student</li>
                </ul>
              </div>
                
              </div>
            <h4 class="text-danger hidden" id="max-students-warning">Note: only 5 students may be booked with a private instructor at a time. To book larger groups, please contact us directly at <a href="tel:530-430-SNOW">(530)430-SNOW</a> or email us at <a href="mailto:info@snowschoolers.com" class="" target="_blank">info@snowschoolers.com</a>
            </h4>
            <%= f.semantic_errors :students %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Lesson  <strong> Objectives</strong></h4>

<!--           <div class='col-md-12'>
            <label class="lesson-label">If you had to choose one focus area for this lesson, what would it be?</label>
            <%= f.input :focus_area, as: :select, collection: ['Basics (for beginners and intermediates)','Advanced Racing Technique', 'Moguls','Terrain Park','Powder Skiing','Big-Mountain Skiing'], include_blank: 'Select a focus area', input_html: {class: 'width100'}, required: false, label: false %>
          </div> -->
         <div class='col-md-12'>
            <label class="lesson-label">What is your primary objective for the lesson? <br> Is there anything specific you want your instructor to know? Do you or your children play other sports?</label>
            <%= f.input :objectives, placeholder: 'i.e. My child is very athletic but has a fear of heights, my child has special needs, I tore my ACL a few years ago and this will be first time on thes now since, etc.', required: false, label: false %>
          </div>
          <div class="col-md-12">
            <label class="lesson-label">How did you first hear about Snow Schoolers?</label>
            <%= f.select :how_did_you_hear, [['From a friend',1],['Facebook',2],['Google',3],['I took a previous lesson',10],['From a postcard',4],['From someone at Homewood',5],['Tahoe Daves',6],['Ski Butlers',7],['Yelp',8],['Snowglers',9],['Other',100]], {}, {class: 'form-control', required:true, include_blank:false} %>
          </div>
          <% if session[:promo_code] %>
          <div class="col-md-12">
            <label class="lesson-label">Referral Code</label>
          <% pc_id = PromoCode.where(promo_code:session[:promo_code]).first.id %>
            <%= f.select :promo_code_id, [[session[:promo_code],pc_id],["",nil] ], {}, {class: 'form-control', required:false, include_blank:false} %>
          </div>
          <% end %>
          <div class="col-md-12 term-checkbox">
            <span class="remember-box checkbox ">
              <label for="rememberme" class="lesson-label">
                  <%= f.check_box :terms_accepted, id: "rememberme", required: true  %>I agree to the <span><a href="/terms_of_service" target="_blank">Terms and Conditions</a></span>
              </label>
            </span>
        </div>

          <div class="col-md-9">
          <% if @lesson.state == 'new' %>
            <!-- <h4>Review <strong> Lesson Request</strong></h4> -->
            <% button_text = "Continue to Payment" %>
            <% else %>
            <h4>Update <strong> Lesson Request</strong></h4>
            <% button_text = "Update Lesson Request" %>
          <% end %>
          </div>
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <%= f.submit button_text, class: 'btn sign-up-btn btn-primary pull-right continue-to-payment-btn' %>
          </div>

        </div>
      </div>

      <hr class='lesson-break' />

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <hr>

        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- SLIDER -->
<!-- <img id="cycle-loader" src="https://s3.amazonaws.com/snowschoolers/images/spinner.gif" alt="loader" /> -->

<!-- <div id="lesson-flow-background">
      <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/thredbo-village-resort-hero.jpg" alt="" />
</div> -->

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/thredbo-village-resort-hero.jpg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
