<section class="bg-primary lesson-new-form-header">

<% if @universal_location && @universal_location == true %>
    <% @resort_styling = "universal-book-container" %>
    <% elsif @promo_location && @promo_location == 25 %>
        <% @resort_styling = "kingvale-book-container" %>
    <% elsif @promo_location && @promo_location == 24 %>
        <% @resort_styling = "granlibakken-book-container" %>
<% end %>


  
<%= semantic_form_for @lesson do |f| %>
  <div class="lesson-form-container">
    
      <% if alert %>
        <div id="alert2" class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         <p> <%= alert %> <%= notice %> </p>
        </div>
      <% end %>


    <div class=<%=@resort_styling%> >
        <div class="block">
          <h3 class="center mobile-book-cta"><%= @resort_name ? "BOOK A LESSON at #{@resort_name.upcase}" : 'BOOK A LESSON' %> </h3>
          <h4 class="center">
            <!-- Based on current weather conditions, we are expecting an opening day of Saturday December 14th.  -->
            <!-- <br> We unfortunately WILL NOT be open over the Thanksgiving holiday weekend. -->
          </h4>
        </div>

        <div class="block">
          <% if @promo_location == 25 && Location.find(25).partner_status == "Inactive" %>
              <h2 class="kv-skiing-not-yet-open"> Unfortunately ski lessons at Kingvale have not yet begun. If you are interested in reserving a lesson for February or March, please simply shoot us a <a href="mailto:hello@snowschoolers.com?subject=Interested%20in%20Lessons%20at%20Kingvale%20&body=Please%20let%20me%20know%20when%20lessons%20are%20available.%20Thanks!" target="_blank" class="white-text bold">quick email</a> with your dates, your preferred instructor, and your group's key information (names, ages, etc.) and a member of our team will follow up directly. Alternatively, we highly encourage you to book a lesson at our <a href="/granlibakken" class="white-text bold">Granlibakken</a> location, where we are able to offer full availability of beginner through intermediate lessons. </h2>
              <% toggle_booking_widget = "hidden" %>
            <% else %>
            <% toggle_booking_widget = "unhidden" %>
            <!-- <h1>TESTING</h1> -->
          <% end %>                  
        </div>

        <div id="booking_widget" class=<%=toggle_booking_widget %> >

        <h1 class="warning">
          <!-- <p>sample text here</p> -->
          <%= f.semantic_errors :lesson %>
          <%= f.semantic_errors :instructor %>
        </h1>
        <div class="block inputs form-inputs">
            <div class="col-md-3">
              <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard'], selected:@activity, include_blank: 'Select Sport', label: false %>
            </div>

            <% if @universal_location == true %>
                  <div class="col-md-3">
                      <%= f.input :requested_location , as: :select, collection: Location.active_partners.sort_by { |location| location.name.downcase} , include_blank: 'Location', label: false %>
                  </div> 
            <% else %>
                  <%= f.input :requested_location, as: :hidden, input_html: { value: @promo_location.to_i } %>
            <% end %>

            <div class="col-md-2">
             <%= f.input :class_type, as: :select, collection: ['private'], selected:'private', include_blank: 'No Group Lessons due to COVID-19', label: false %>
            </div>

            <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
              <div class="col-md-3">
                <% if @promo_location && @promo_location == 25 %>
                    <%= lt_f.input :date, as: :string, input_html: { id:'datepicker3', value:@date, required:true, autocomplete:"off" }, placeholder: 'Date', label: false %>
                  <% else %> 
                  <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date, required:true, autocomplete:"off" }, placeholder: 'Date', label: false %>
                <% end %>
                <span class="search-area-icon"></span>
              </div>

              <div class="col-md-3">
                <% if current_user && (current_user.user_type == "Snow Schoolers Employee" || current_user.email == "bbensch@gmail.com") %>
                <%= lt_f.input :slot, as: :select, collection: ADMIN_SLOTS, include_blank: 'Select Time', label: false, required:true %>
                <% else %>
                <%= lt_f.input :slot, as: :select, collection: PRIVATE_SLOTS, include_blank: 'Select Time', label: false, required:true %>
                <% end %>

              </div>
              
              <% if current_user.nil? %>
              <div class="col-md-2 guest-email-input">
                <%= f.input :guest_email, as: :string, placeholder: "your_email@example.com", label: false %>
              </div>
              <% end %>
            
            <% end %>

        </div>
      </div>

        <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
        <% if @instructor_requested %>
          <%= f.input :instructor_id, as: :hidden, input_html: { value: @instructor_requested.id.to_i } %>
        <% end %>
        <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
    

    <div id="get-started-form-button" class="row clear-both">
        <h1 class="new-lesson-ctas-list center">
              <!-- %= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %> -->
              <%= f.action :submit, :label => "GET STARTED", as: :input, button_html: { class: 'btn btn-lg btn-primary' } %>
                <% if @instructor_requested.nil? %>
                <!-- <li>  OR </li> -->
                <!-- <li> <button id='browser-instructors-cta' href="/browse" value="Browse Instructors" class="btn btn-default btn-lg">Browse instructors</button></li> -->
                <% end %>
            <!-- <a href='/lessons-availability' class= 'btn btn-success btn-lg'> SEE AVAILABLE TIMES </a> -->
          </h1>
          <h4 class="center">
            Looking for sledding tickets? Advance tickets are recommended (but not required) due to pandemic-related capacity constraints.
          </h4>
          <h4 class="center">
            <% if @promo_location && @promo_location == 25 %>
              <a href="/kingvale/sledding" class="btn btn-secondary btn-lg page-scroll powder-btn">Book Sledding</a>
            <% end %>
            <% if @promo_location && @promo_location == 24 %>
              <a href="http://sledding.granlibakken.com/" target="_blank" class="btn btn-secondary btn-lg page-scroll powder-btn">Book Sledding</a>
            <% end %>
          </h4>
    </div>
</section>

<% end %>