<% if @promo_location && @promo_location != 24%>
    <% @resort_name = Location.find(@promo_location).name %>
    <% @cta_visibility = "hidden" %>

<section id="#book-a-lesson" class="bg-navy center-content lesson-new-form-header">
      <!-- <h1 class="center text-white">*Please note* Lessons for the 19/20 lesson are not yet on sale. <br> Reservations will be accepted starting Nov 4th! </h1> -->
      <div class="center row">
        <h2 class="text-white"> We are not yet accepting reservations at <%= @resort_name %> for the 19/20 season. If you wish to book directly you may do so by making a lesson reservation at Granlibakken, or <a href="mailto:hello@snowschoolers.com?subject=Interested%20in%20Lessons%20&body=Please%20let%20me%20know%20when%20lessons%20are%20available.%20Thanks!" target="_blank" class="green-link">email us</a> with your dates and group information and we'll reach out when we're able to assist you with making at reservation at <%= @resort_name %>.  </h2>
          <a href="/granlibakken" class="btn btn-primary btn-lg page-scroll powder-btn">Book at Granlibakken</a>
    <% @resort_name = Location.find(@promo_location).name %>
          <a href="mailto:hello@snowschoolers.com?subject=Interested%20in%20Lessons%20&body=Please%20let%20me%20know%20when%20lessons%20are%20available.%20Thanks!" target="_blank" class="btn btn-secondary btn-lg page-scroll powder-btn">Get notified when <%= @resort_name %>
           lessons go on sale</a>
          <% @resort_name = 'SNOWSCHOOLERS' %>
      </div>
</section>

<% elsif @promo_location.nil? %>

    <% @cta_visibility = "hidden" %>

<section id="#book-a-lesson" class="bg-navy center-content lesson-new-form-header">
      <!-- <h1 class="center text-white">*Please note* Lessons for the 19/20 lesson are not yet on sale. <br> Reservations will be accepted starting Nov 4th! </h1> -->
      <div class="center row">
        <h2 class="text-white"> At which mountain would you like to book a lesson? </h2>
          <a href="/granlibakken" class="btn btn-primary btn-lg page-scroll powder-btn">Explore Granlibakken</a>
          <a href="/homewood" class="btn btn-primary btn-lg page-scroll powder-btn">Explore Homewood</a>
          <% @resort_name = 'SNOWSCHOOLERS' %>
      </div>
</section>

<% elsif @promo_location == 24 %>
    <% @resort_name = Location.find(@promo_location).name %>
    <% @cta_visibility = "unhidden" %>
    <!-- <p class="alert">The promo_location is set to: %=@promo_location%> </p> -->
<% end %>

<div class=<%=@cta_visibility%> >
  <%= render partial: "lessons/initiate_lesson", locals: { lesson: @lesson} %>
</div>


  <%= render partial: "welcome/prices_simple" %>


<!--       % if @instructor_requested %>
        <div class="selected-instructor-container">
            <p>
              <div class="col-md-12">
                <h4 class="hidden-unless-desktop">Instructor Requested:</h4>
                  <h3 class="center">
                    %= link_to Instructor.find(@instructor_requested).name, Instructor.find(@instructor_requested) %>
                  </h3>
                  <div class="hidden">
                    %= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor_requested, include_blank: 'Instructor', label: false %>
                  </div>
                <div class="square-image">
                  % if Instructor.find(@instructor_requested).avatar? %>
                    %= image_tag Instructor.find(@instructor_requested).avatar.url(:large), alt:"avatar-img", class:"img-circle instructor-photo avatar-center" %>
                  % end %>
                </div>
              </div>
            </p>
        </div>
      % else %>
        <div class="selected-instructor-container hidden-unless-desktop">
            <p>
              <div class="col-md-12">
                <h4 class=""></h4>
                  <h3 class="center">
                   </h3>
                  <div class="hidden">
                  </div>
                <div class="square-image">
                </div>
              </div>
            </p>
        </div>
    % end %>    -->
