<%= semantic_form_for @lesson do |f| %>
<div class="lesson-form-container">

  <div class="new-lesson-pricing-container">

<% if Location.find(24).partner_status == 'Inactive' %>
    <% granlibakken_class = 'hidden' %>
  <% else %>
    <% granlibakken_class = '' %>
<% end %>
      <section id="prices_simple" class="pricing-new-lesson">
          <div class="pricing-container">
                <% if (Product.where(location_id:8,length:"1.00",product_type:'private_lesson').first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson').first == nil) %>
                <h3 class='text-danger center'> Pricing Not Yet Available </h3>
                <% else %>
              <table class="col-lg-12 col-xs-12 pricing-table">
                <thead class="">
                  <tr>
                      <th class="center price-header" colspan="6">
                          <h1 class="navy-text">
                              <span>SPRING 2019 DISCOUNT LIFT RATES</span>
                          </h1>
                          <h3 class="center navy-text">Buy Online & Save 50% vs. the Ticket Window</h3>
                      </th>
                  </tr>
                  
                  <tr class="price-schools">
                    <th class="col-xs-2 text-warning">Type of Ticket</th>
                    <!-- <th class="col-xs-2 text-warning center">*January Sale Pricing Until Jan 24th* </th> -->
                    <th class="pricing-snowschoolers col-xs-2">Online Today</th>
                    <th class="pricing-snowschoolers col-xs-2">Ticket Window @Homewood </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                      <td class="grey-side-borders pricing-length pricing-grey-background">Child (5-12)</td>
                      <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(CHILD_HW_TICKET_PRICE) %> (57% off)</td>
                      <td class="hidden-unless-desktop pricing-competitors pricing-grey-background strikethrough">$69</td>
                  </tr>
                  <tr>
                      <td class="grey-side-borders pricing-length pricing-grey-background">Teen (13-18)</td>
                      <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(TEEN_HW_TICKET_PRICE) %> (51% off)</td>
                      <td class="hidden-unless-desktop pricing-competitors pricing-grey-background strikethrough">$89</td>
                  </tr>
                  <tr>
                      <td class="grey-side-borders pricing-length pricing-grey-background">Adult (18+)</td>
                      <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"><%= number_to_currency(ADULT_HW_TICKET_PRICE) %> (53% off)</td>
                      <td class="hidden-unless-desktop pricing-competitors pricing-grey-background strikethrough">$129</td>
                  </tr>
                </tbody>
                <% end %>
              </table>
          </div>
      </section>


  </div>

  <hr class="deposit-hr-navy hidden-unless-mobile">

  <% if alert %>
  <div id="alert2" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p> <%= alert %> <%= notice %> </p>
  </div>
  <% end %>

  <div class="new-lesson-caption">

    <div class="block">
      <h3 class="center mobile-book-cta">SELECT YOUR LIFT TICKETS</h3>
    </div>

    <div class="block">
    </div>
    <h1 class="warning">
      <%= f.semantic_errors :lesson %>
      <%= f.semantic_errors :instructor %>
    </h1>
    <div class="block inputs form-inputs">
      <div class="col-md-2">
        <%= f.input :activity, as: :select, collection: ['Child', 'Teen','Adult'], include_blank: 'Ticket Type', label: false %>
      </div>

      <div class="col-md-3">
          <%= f.input :requested_location , as: :string, placeholder: "Homewood", label: false %>
      </div>
      <div class="col-md-3 time-slot-input">
        <%= f.input :num_days, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], selected: 1, include_blank: 'Number of Tickets', label: false %>
      </div>
      <% if current_user.nil? %>
      <div class="col-md-2 guest-email-input">
        <%= f.input :guest_email, as: :string, placeholder: "your_email@example.com", label: false %>
      </div>
      <% end %>
    </p>
  </div>

  <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
  <%= f.input :class_type, as: :hidden, input_html: { value: 'tickets' } %>
  <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
  <div id="get-started-form-button" class="row clear-both">
    <h1 class="new-lesson-ctas-list center">
      <!-- %= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %> -->
      <%= f.action :submit, :label => "BUY NOW", as: :input, button_html: { class: 'btn btn-lg btn-primary' } %>
      <% if @instructor_requested.nil? %>
      <!-- <li>  OR </li> -->
      <!-- <li> <button id='browser-instructors-cta' href="/browse" value="Browse Instructors" class="btn btn-default btn-lg">Browse instructors</button></li> -->
      <% end %>
      <!-- <a href='/lessons-availability' class= 'btn btn-success btn-lg'> SEE AVAILABLE TIMES </a> -->
    </div>


  </div>

</div>

<% end %>
