<header class="page-header">
  <h2 id="lesson-details-header">Lesson Status</h2>
</header>
<p class="lesson-summary-info">
Requester Email: <%= @lesson.requester ? @lesson.requester.email : @lesson.guest_email %>
<% if @lesson.instructor %>
  <br> Instructor: <%= @lesson.instructor.name %>
<% else %>
  <% if @lesson.pending_requester? %>
    <br> No instructors available for this date and time. Please edit or cancel
  <% else %>
    <br> No instructor assigned yet
  <% end %>
<% end %>
<br> Status: <%= @lesson.state %>
<% if @lesson.review %>
<br>
  Instructor Review: <%= @lesson.review.rating %> stars - <%= @lesson.review.review %>
<% end %>
<% if @lesson.payment_complete? %>
<br> Tip Amount: <%= number_to_currency(@lesson.tip) %>
<% end %>
</p>
<div id='full-details-container'>
  <%if @lesson.public_feedback_for_student %>
      <%= render partial: 'lessons/confirmed_time_and_feedback' %>
  <% end %>

  <div class="details-info-box">
    <% if @lesson.deposit_status == 'confirmed' %>
    <p>
      Your reservation confirmation number is: <span style="font-size:18px;"><%=@lesson.confirmation_number%></span>. Please either print this page or save the confirmation email you should automaticaly receive, as you will need to show your confirmation number the morning of your lesson as proof of payment. Please also find your lesson reservation details below. 
    </p>
    <% end %>
    
    <h3>Lesson Summary</h3>

    <div class='row'>

      <div class="col-md-12 col-xs-12">
      <h4 class="slot-details-mobile">
        <span class="lesson-detail-topic">Requester:</span> <%= @lesson.requester_name %> <br>
        <span class="lesson-detail-topic">Location:</span>  <%= @lesson.location.name %><br>
        <span class="lesson-detail-topic">Sport:</span>  <%= @lesson.activity %><br>
        <span class="lesson-detail-topic">Date:</span> <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %><br>
        <% if @lesson.package_info %>
          <% @lesson.package_info.include?("custom start time") ? custom_slot_class = "strikethrough" : custom_slot_class = "normal" %>
        <% end %>
        <span class="lesson-detail-topic">Slot:</span> <span class=<%= custom_slot_class%> > <%= @lesson.slot %></span> <br><br>
        <% if @lesson.package_info && @lesson.package_info.length > 1 %>
          <span class="lesson-detail-topic">Adjustments:</span>  <%= @lesson.package_info %>
          <br><br>                  
        <% end %>
        <span class="lesson-detail-topic">Objectives:</span> <br> <%= @lesson.objectives %>
      </h4>
      </div>
    </div>
  </div>

  <div class="details-info-box">
      <%= render partial: 'price_details' %>
  </div>
  <div class='details-info-box'>
      <%= render partial: 'student_details' %>
  </div>
</div>
