<header class="page-header">
  <h2 id="lesson-details-header">Full Lesson Details</h2>
</header>
<p>Requester: <%= @lesson.requester ? @lesson.requester.name : @lesson.guest_email %>
<br>Contact Email: <%= @lesson.requester ? @lesson.requester.email : @lesson.guest_email %>
<% if @lesson.instructor %>
  <br> Instructor: <%= @lesson.instructor.name %>
<% else %>
  <% if @lesson.pending_requester? %>
    <br> No instructors available for this date and time. Please edit or cancel
  <% else %>
    <br> No instructor assigned yet
  <% end %>
<% end %>
<br> Status: <%= @lesson.state %>
<% if @lesson.review %>
<br>
  Instructor Review: <%= @lesson.review.rating %> stars - <%= @lesson.review.review %>
<% end %>
<% if @lesson.payment_complete? %>
<br> Tip Amount: <%= number_to_currency(@lesson.tip) %>
<% end %>
</p>
<div id='full-details-container'>
  <%if @lesson.public_feedback_for_student %>
      <%= render partial: 'lessons/confirmed_time_and_feedback' %>
  <% end %>

  <div>
    <h3>Basic Info</h3>

    <div class='info-container'>
      <div>
        <h4 class="slot-details-mobile">
          <b>Requester:</b> <br>
          <b>Location:</b> <br>
          <b>Sport:</b> <br>
          <b>Date:</b> <br>
          <b>Slot:</b> <br>
          <b>Equipment:</b> <br>
          <b>Lift Ticket:</b> <br>
          <b>Price:</b>
        </h4>
      </div>
      <div>
        <h4 class="slot-details-mobile">
          <%= @lesson.requester_name %> <br>
          <%= @lesson.location.name %><br>
          <%= @lesson.activity %><br>
          <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %><br>
          <span> <%= @lesson.slot %></span><br>
          <%= @lesson.gear ? "Already have gear." : "Need to rent." %><br>
          <%= @lesson.lift_ticket_status? ? "Already have one." : "Need lift ticket." %><br>
          <% if @lesson.lesson_price.nil? %>
            <%= number_to_currency(@lesson.price) %>
          <% else %>
            <%= number_to_currency(@lesson.lesson_price.to_i) %>
          <% end %>
          <% if @lesson.package_info %>
          <br><span class="italic"> <%= @lesson.package_info %></span>
          <% end %>
        </h4>
      </div>
    </div>

    <!--
    <div class='row'>
       <div class="col-md-4">
        <label>Duration:</label>
        <div class=''><%= "#{@lesson.duration} hours" if @lesson.duration %></div>
      </div>

      <div class="col-md-4">
        <label>Start Time:</label>
        <div class=''><%= @lesson.start_time %></div>
      </div>

      <div class="col-md-4">
        <label>Do you have gear?</label>
        <div class=''><%= @lesson.gear? ? 'Yes, already have gear' : 'No, need gear.' %></div>
      </div>
    </div>
     -->
  </div>

  <div>
    <h3>Objectives and Experience</h3>

    <div class='col-md-12'>
      <h4><b>Focus Area:</b></h4>
      <div class=''><%= @lesson.focus_area %></div>
    </div>

    <div class='col-md-12'>
      <h4><b>Objectives:</b></h4>
      <div class=''><%= @lesson.objectives %></div>
    </div>
  </div>

  <div>
      <h3>Student Info</h3>
    <% @lesson.students.each do |student| %>
      <div class='info-container'>
        <div>
          <h4 class="slot-details-mobile">
            <b>Name : </b> <br>
            <b>Age Range : </b> <br>
            <b>Gender : </b> <br>
            <b>About the student : </b> <br>
            <b>Most Recent Experience : </b> <br>
            <b>Most Recent Level : </b> <br>
            <b>Other Athletic Experience : </b> <br>
          </h4>
        </div>
        <div>
          <h4 class="slot-details-mobile">
            <%= student.name %>
            <br>
            <%= student.age_range %>
            <br>
            <%= student.gender %>
            <br>
            <%= student.relationship_to_requester %>
            <br>
            <% if student.most_recent_experience%>
              <%= student.most_recent_experience.to_s %>
            <% else %>
              N/A
            <% end %>
            <br>
            <% if student.most_recent_level %>
              <%= student.most_recent_level.to_s %>
            <% else %>
              N/A
            <% end %>
            <br>
            <% if student.other_sports_experience%>
              <%= student.other_sports_experience.to_s %>
            <% else %>
              N/A
            <% end %>
          </h4>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
