<% title 'Book a Private Ski or Snowboard Lesson' %>
<% meta_tag :description, "Easily book a private ski or snowboard lesson with our fleet of expert, certified instructors. Snow Schoolers is an online platform for private lessons. You can easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<div id="middle" class="container">
  <div class="white">

<div id="lesson-flow-background">
        <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="bg-photo" alt="" />
</div>

<div class="new-lesson-container">
  
<!--   <ul id="slider">
      <li>
          <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="bg-photo" alt="" />
      </li>
  </ul>
 -->
<!-- PreSeason Modal -->
  <% if notice.nil? && alert.nil? && @lesson.errors.count == 0 && session[:pre_season_location_request].nil? && Location.active_partners.count >= 20 %>
     <a id="preSeasonModalButton" class="hidden" href="#" data-toggle="modal" data-target="#preSeasonModal">New user? First register your Account</a>
  <div class="modal" id="preSeasonModal" tabindex="1" role="dialog" aria-labelledby="preSeasonModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content preSeasonModal">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title navy-text center" id="myModalLabel">Bad news - our '16/17 season has ended.</h3>
          <h3 class="modal-title navy-text center" id="myModalLabel">Good news - we're growing!</h3>
        </div>
        <div class="modal-body">
            <h4 class="text-notice">We're planning to offer private lessons at new resorts next season, and we'd love to hear your input. Please enter your favorite resort(s) in the form below, or email us at <a href="mailto:hello@snowschoolers.com" class="green-link">hello@snowschoolers.com</a> if you would like more information. </h4>
            <hr class="deposit-hr-navy">
            <h3 class="center navy-text modal-prompt">
              Where do you want to take lessons <b>next winter</b>?
            </h3>
          <%= semantic_form_for(PreSeasonLocationRequest.new) do |ps_request| %>
              <div class="field center">
                <%= ps_request.input :name,  placeholder: "I would love to take a lesson at...", label:false %>
              </div>
              <br>
              <div class="actions center">
                <%= ps_request.submit "Submit", class: "btn btn-success" %>
              </div>
              <p class="modal-close-to-continue">
              </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<!-- /PreSeason Modal -->

<section id="book-a-lesson" class="pricing-section">
    <div id="lesson-flow-background">
        <div class="homepage-lesson-container center" id="private-request">
            <%= render partial: "lessons/lesson_new_form" %>
        </div>
    </div>
</section>
<section id="book-a-group-lesson" class="group-pricing-section">
    <div id="lesson-flow-background">
        <div class="homepage-lesson-container center" id="group-request">
            <%= render partial: "lessons/group_lesson_new_form" %>
        </div>
    </div>
</section>
    

<!-- /end lesson form -->  
<div class='container'>
<%= render partial: 'welcome/full_pricing' %>
</div>

<section class="hidden-unless-mobile mobile-call-cta">
      <div class="new-lesson-call-cta">
                    <h1 class="center">QUESTIONS?</h1>                    
                    <p class="white-text center">Call Us Today! 
                    <br>
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <br>
                    (530)430-SNOW</p>
      </div>        
</section>
  <div class="buffer hidden-unless-desktop"></div>

</div>

</div>
</div>