<div class='nested-fields student-box'>
  <%= f.inputs do %>
    <div class='row'>
      <div class='remove-student'>(<%= link_to_remove_association "Remove Student", f, class: 'remove-student' %>)</div>
      <div class='col-md-6'>
        <label>Student Name</label>
        <%= f.text_field :name, placeholder: "Full name of student", class: "form-control name", label: false, required:true %>                      
      </div>
      <div class='col-md-3'>
        <label>Age</label>
        <%= f.text_field :age_range, class: "form-control age", label: false, required:true %>
      </div>
      <div class='col-md-3'>
        <label>Gender</label>
        <%= f.select :gender, ['Male', 'Female'], {}, {class: 'gender form-control', required:true, include_blank: 'Gender'} %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <label class="lesson-label">About the student</label>
        <%= f.input :relationship_to_requester, as: :select, collection: ['I am the student.', 'Student is a friend.', 'Student is my significant other.','Student is my child.'], selected: 'I am the student.', include_blank: 'How is this student related to you?', :input_html => { :class => 'relationship-student'}, label: false %>
      </div>
      <div class='col-md-12'>
            <label>Ability level </label>
            <%= f.select :most_recent_level,
              ["Level 1 - first-time ever, no previous experience.",
              "Level 2 - can safely stop on beginner green circle terrain.",
              "Level 3 - can makes wedge turns (heel-side turns for snowboarding) in both directions on beginner terrain.",
              "Level 4 - can link turns with moderate speed on all beginner terrain.",
              "Level 5 - can make mostly parallel turns (S-turns for snowboarding) and safely navigate intermediate runs.",
              "Level 6 - can confidently link parallel turns across all intermediate terrain.",
              "Level 7 - can control speed, rhythm, and shape of turns across variety of intermediate and advanced terrain.",
              "Level 8 - can ski moguls and off-piste terrain in all snow conditions.",
              "Level 9 - can confidently and safely ski expert-only (double-black diamond) terrain."], {}, {class: 'form-control ability-level', required:true,
               include_blank: "Approximately what level of ability is the student?", label: false} %>              
      </div>
      <div class='col-md-12'>
        <label>Include rental equipment?</label>        
        <%= f.select :needs_rental, [['Yes, student needs to rent equipment.', true],['No, student already has equipment.', false]], {}, {class: 'form-control needs-rental', required:true, include_blank:'(Skis,boots,etc.)'} %>
      </div>
      <div class="small-buffer"></div>
<% if @lesson.location.id == 8 %>
  <h4 class="text-warning left">Unfortunately online reservations are not available for rental equipment at Homewood. We recommend arriving at least 45minutes before your lesson to ensure enough time to get properly fitted with your equipment.</h4>
<% else %>      
    <div class="student-rental-information">
      <h4>Rental Equipment <strong>Info</strong></h4>

      <div class='col-md-3'>
        <label>Height (feet)</label>
        <%= f.text_field :height_feet, class: "form-control height_feet", label: false, required:false %>
      </div>
      <div class='col-md-3'>
        <label>Height (inches)</label>
        <%= f.text_field :height_inches, class: "form-control height_inches", label: false, required:false %>
      </div>
      <div class='col-md-6'>
        <label>Weight (lbs)</label>
        <%= f.text_field :weight, class: "form-control weight", label: false, required:false %>
      </div>
      
      <div class='col-md-6'>
        <label>Boot Size</label>        
        <%= f.select :shoe_size, BOOT_SIZES, {}, {class: 'form-control shoe_size', required:false, include_blank:'Select Your Shoe Size'} %>
      </div>
      <% if @lesson.activity == 'Ski' %>
      <div class='col-md-6'>
        <label>Skier Type</label> - <a href="/skier-types" class="navy-link" target="_blank">what is "skier type"?</a>
        <%= f.select :skier_type, ['I - Beginner (levels 1-4)', 'II - Intermediate (levels 5-7)', 'III - Advanced (levels 8-9'], {}, {class: 'form-control skier_type', required:false, include_blank:'I - Beginner'} %>
      </div>
      <% else %>
      <div class='col-md-6'>
        <label>Snowboard Direction</label>        
        <%= f.select :board_direction, ['Regular', 'Goofy', "I don't know"], {}, {class: 'form-control board_direction', required:false, include_blank:'Which is your strong foot?'} %>
      </div>
      <% end %>
      <div class='col-md-12'>
          <%= f.check_box :poles_requested, required: false  %>I would like to include ski poles with my rental reservation.
          <br>
          <b>Note: </b> poles are not recommended for kids under 10.
      </div>
    </div>
<% end %>      

          <% if current_user %>
          <%= f.input :requester_id, as: :hidden, input_html: { value: current_user.id } %>
          <% end %>
    </div>
  <% end %>
</div>
