<% title "DO NOT USE - Daily Roster" %>

<div id="middle" class="container lesson-index-mobile">
  <div class="white">

<div class="admin-viewable">
  <div class="col-md-12">
    <ul>
      <li>Lessons on this day: <%= @todays_lessons.count %></li>
      <li>Total students on this day: <%= Lesson.count_students_on_date(@date) %></li>
      <hr class="hr-future-roster">
      <li>Ski Lessons at 845am (1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Early Bird 8:45-9:45am","Ski").count %></li>
      <li>SB Lessons at 845am(1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Early Bird 8:45-9:45am","Snowboard").count %></li>
      <hr class="hr-future-roster">
      <li>Ski Lessons at 10am (1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Private 10:00am","Ski").count %></li>
      <li>SB Lessons at 10am (1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Private 10:00am","Snowboard").count %></li>
      <hr class="hr-future-roster">
      <li>Ski Lessons at 11:15am (1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Private 11:15am","Ski").count %></li>
      <li>SB Lessons at 11:15m (1hr, HDM, FD): <%=Lesson.lessons_at_slot(@date,"1hr Private 11:15am","Snowboard").count %></li>
    </ul>
    <div class="inline-block">
      <a href="#hideLessons" class="btn btn-success" id="toggle-available-lessons">Show Today's Lessons </a>
    </div>
  </div>
</div>

<!-- SECTION 0 - AVAILABLE LESSON REQUESTS FOR INSTRUCTORS -->
<div id="today-lessons" class="">
<h1>Today's Lessons</h1>

<table class="instructors-table">

  <%= render partial: 'daily_roster_table_headers' %>

  <tbody>

    <!-- Early bird slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private Ski </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '1hr Early Bird 8:45-9:45am' && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>
    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private SB </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '1hr Early Bird 8:45-9:45am' && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>

    <!-- Morning HD slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Morning 10:00am-12:45pm'  && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Morning 10:00am-12:00pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Morning 10:00am-12:45pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Morning 10:00am-12:00pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <!-- Morning 1hr slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot.include?('1hr Private') && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot.include?('1hr Private') && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Private Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Afternoon 1:15-4:00pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Afternoon 1:15-4:00pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Group Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Ski Groups </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '2hr Group Afternoon 1:45pm-3:45pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Afternoon 1:30-3:30pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon SB Groups </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '2hr Group Afternoon 1:45pm-3:45pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Afternoon 1:30-3:30pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- All Day slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Full Day Privates (10am start) </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Full-day (10:00am-4:00pm)' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

  </tbody>
</table>
</div>
<hr>

<!-- SECTION 1 - TOMORROW'S LESSONS -->
<div id="tomorrow-lessons" class="">
<h1>Tomorrow's Lessons</h1>

<table class="instructors-table">

  <%= render partial: 'daily_roster_table_headers' %>

  <tbody>

    <!-- Early bird slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private Ski </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Early-bird' && lesson.product.product_type == 'private_lesson' && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>
    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private SB </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Early-bird' && lesson.product.product_type == 'private_lesson' && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>

    <!-- Morning HD slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day Ski Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Morning' && lesson.product.product_type == 'private_lesson' && lesson.length == '3.00'  && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day SB Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Morning' && lesson.product.product_type == 'private_lesson' && lesson.length == '3.00'  && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Morning 1hr slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr Ski Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Morning' && lesson.length == '1.00' && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr SB Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Morning' && lesson.length == '1.00' && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Private Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day Ski Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Afternoon' && lesson.product.product_type == 'private_lesson' && lesson.length == '3.00'  && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day SB Privates </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Afternoon' && lesson.product.product_type == 'private_lesson' && lesson.length == '3.00'  && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Group Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Ski Groups </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Afternoon' && lesson.product.product_type == 'group_lesson' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon SB Groups </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'Afternoon' && lesson.product.product_type == 'group_lesson' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- All Day slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Full Day Privates (10am start) </td>
    </tr>
    <% @tomorrows_lessons.each do |lesson| %>
        <% if lesson.slot == 'All day' && lesson.product.product_type == 'private_lesson' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

  </tbody>
</table>
</div>
