<% title "Future Daily Roster" %>

<div id="middle" class="container lesson-index-mobile">
  <div class="white">

<div class="admin-viewable">
  <div class="col-md-12">
    <ul>
      <li>Lessons on this day: <%= @todays_lessons.count %></li>
    </ul>
    <div class="inline-block">
      <a href="#hideLessons" class="btn btn-success" id="toggle-available-lessons">Show Today's Lessons </a>
    </div>
  </div>
</div>
<!-- SECTION 0 - AVAILABLE LESSON REQUESTS FOR INSTRUCTORS -->
<div id="available-lessons" class="">
<h1>Lessons for <%= @date %> </h1>

<table class="instructors-table">

  <%= render partial: 'daily_roster_table_headers' %>

  <tbody>

    <!-- Lessons with missing time slots (?) -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Lessons with Missing Time Slots (error?) </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == "" %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>


    <!-- Early bird slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private Ski </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '1hr Early Bird 8:45-9:45am' && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>
    <tr>
      <td colspan="12" class="daily-roster-section-break">Early Bird Private SB </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '1hr Early Bird 8:45-9:45am' && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>

    <!-- Morning HD slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Morning 10:00am-12:45pm'  && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Morning 10:00am-12:00pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning Half-Day SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Morning 10:00am-12:45pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Morning 10:00am-12:00pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <!-- Morning 1hr slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot.include?('1hr Private') && lesson.activity == 'Ski' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Morning 1hr SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot.include?('1hr Private') && lesson.activity == 'Snowboard' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Private Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day Ski Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Afternoon 1:15-4:00pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Half-Day SB Privates </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Half-day Afternoon 1:15-4:00pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- Afternoon Group Slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon Ski Groups </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '2hr Group Afternoon 1:45pm-3:45pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Afternoon 1:30-3:30pm' && lesson.activity == 'Ski'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>

    <% end %>

    <tr>
      <td colspan="12" class="daily-roster-section-break">Afternoon SB Groups </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == '2hr Group Afternoon 1:45pm-3:45pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
        <% if lesson.slot == 'Airbnb Afternoon 1:30-3:30pm' && lesson.activity == 'Snowboard'%>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

    <!-- All Day slots -->

    <tr>
      <td colspan="12" class="daily-roster-section-break">Full Day Privates (10am start) </td>
    </tr>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.slot == 'Full-day (10:00am-4:00pm)' %>
          <%= render partial: 'daily_roster_table_contents', locals: { lesson: lesson} %>
        <% end %>
    <% end %>

  </tbody>
</table>
</div>
<hr>
