<% title "Search" %>

<div id="middle" class="report-container lesson-index-mobile">
  <div class="white">

  <!-- %= render partial: 'lessons/season_summary_stats' %> -->


<div class="center">
  <div class="buffer"></div>
  <%= render partial: 'lessons/search' %>
</div>

<!-- SECTION 0 - AVAILABLE LESSON REQUESTS FOR INSTRUCTORS -->
<div id="available-lessons" class="">
<table class="instructors-table">
  <thead>
    <tr>
      <th class="lessons-table-cells lesson-date"></th>
      <th class="lessons-table-cells lesson-date">Customer Name</th>
      <th class="lessons-table-cells lesson-date">Date</th>
      <th class="lessons-table-cells lesson-type">Sport</th>
      <th class="lessons-table-cells lesson-type">Type</th>
      <th class="lessons-table-cells lesson-instructor">Instructor</th>
      <th class="lessons-table-cells lesson-instructor">Customer</th>
      <th class="lessons-table-cells lesson-student">State</th>
      <th class="lessons-table-cells">Location</th>
      <th class="lessons-table-cells">Rentals?</th>
    </tr>
  </thead>

  <tbody>
      <% @lessons.each_with_index do |lesson, index| %>
          <tr>
            <td class="lessons-table-cells lesson-date"><%= index+1 %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.requester_name %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.activity %></td>
            <td><%= link_to "#{lesson.product_name}", lesson, class: "" %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.instructor_assigned? ? lesson.instructor.name : "TBD" %></td>
            <td class="lessons-table-cells lesson-date"><%= lesson.requester ? lesson.requester.email : lesson.guest_email %></td>
            <td class="lessons-table-cells"><%= lesson.state %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.location.name %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.includes_rental_package? ? "Yes" : "No" %></td>
          </tr>
      <% end %>
  </tbody>
</table>
</div>
<hr>

<!-- SECTION 1 - PREVIOUS LESSONS -->
<div id="completed-lessons" class="hidden">
<!-- <h1>Previously Paid Payroll</h1> -->


</div>
