<% title "Lesson Details" %>

<div id="middle" class="container">
  <div class="white row">
    <% if current_user && (current_user.user_type == "Snow Schoolers Employee") %>
    <div class="row vertical-padding admin-viewable">
    <h4> (ADMIN ONLY) Eligible instructors are:</h4>
      <ul>
        <li>
          Email notifications: <%= @lesson.email_notifications_status %>
          <%= link_to 'Disable email alerts', disable_email_notifications_path, class: "btn btn-warning" %>
          <%= link_to 'Enable email alerts', enable_email_notifications_path, class: "btn btn-success" %>
        </li>
        <li>
          SMS notifications: <%= @lesson.sms_notification_status %>
          <%= link_to 'Disable sms alerts', disable_sms_notifications_path, class: "btn btn-warning" %>
          <%= link_to 'Enable sms alerts', enable_sms_notifications_path, class: "btn btn-success" %>
        </li>
      </ul>
      <ul>
        <% if @lesson.available_instructors.any? %>
            <% @lesson.available_instructors.each do |instructor| %>
              <h6>
                <%= instructor.name  %> - <%= instructor.user_id %> - <%= instructor.phone_number %>
              <% @lesson.completable? ? button_text = "Remind to Mark Complete" : button_text = "Send Request Reminder" %>
              <%= link_to button_text, send_reminder_sms_to_instructor_path(@lesson, :instructor_id => instructor.id), class: "btn btn-warning" %>
                <%= link_to "Assign to Instructor (with permission)", admin_assign_instructor_path(@lesson, :instructor_id => instructor.id), method: :put, class: "btn btn-default" %>
              </h6>
            <% end %>
          <% else %>
            <li><p class="alert-danger">No instructors available!</p></li>
          <% end %>
          <%= semantic_form_for @lesson do |f| %>
          <!-- include lesson time fields to update lesson instructor manually -->
            <div class="">
                <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
                <div class='row'>
                  <h4 class="alert-danger">[optional] - Admin can change date/time directly from here. Do not leave blank if current lesson values are not selected.</h4>
                  <div class="col-md-4">
                    <label class="lesson-label">Date</label>
                    <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', required:true }, placeholder: 'Pick a date', label: false %>
                    <span class="search-area-icon"></span>
                  </div>

                  <div class="col-md-4">
                    <label class="lesson-label">Slot</label>
                    <%= lt_f.input :slot, as: :select, collection: ADMIN_SLOTS, include_blank: 'Time Slot', label: false, required:true %>
                  </div>
                </div>
              <% end %>
            </div>
          <!-- end hidden lesson time fields -->

          <div class="row">
            <div class="col-md-3">
              <label class="lesson-label">Group or Private?</label>
              <%= f.input :class_type, as: :select, collection: ['private', 'group'], selected:@lesson.class_type, include_blank: 'Lesson Type', label: false %>
            </div>
            <div class="col-md-3">
              <label class="lesson-label">Airbnb Confirmation Reference#</label>
                <%= f.input :additional_info, as: :string, placeholder: "e.g. TAXX3HXY", label: false %>
            </div>
          </div>
          <h4>Select an instructor by last name:
            <%= f.select :instructor_id, options_from_collection_for_select(Instructor.active_instructors.sort {|a,b| a.last_name <=> b.last_name}, :id, :last_name, selected:@lesson.instructor_id), include_blank:true %>
            <%= f.submit "Update Lesson", class: "btn btn-success" %>
            <%= link_to 'Add Private Request', add_private_request_path(@lesson), class: 'btn btn-success' %>
            <%= link_to 'Remove PR', remove_private_request_path(@lesson), class: 'btn btn-danger' %>
          </h4>
          <% end %>

          <hr>
          <%= link_to "Send Reminder Email", send_day_before_reminder_email_path(@lesson), class: "btn btn-success" %> (goes to student & cc instructor)
          <%= link_to "Create Duplicate Lesson", duplicate_path(@lesson), method: :put, class: "btn btn-warning" %>
          <li>Client phone number: <%= @lesson.phone_number %> </li>
          <li>Lesson wages: <%= number_to_currency(@lesson.wages+@lesson.bonus_wages) %> total; base:<%= number_to_currency(@lesson.wages)%>; bonus:<%= number_to_currency(@lesson.bonus_wages)%> </li>
          <% if @lesson.hourly_bonus %>
          <ul>
            <li>Bonus type: <%=@lesson.bonus_category %></li>
            <li>Bonus rate: <%= number_to_currency(@lesson.hourly_bonus) %>/hr</li>
          </ul>
          <% end %>
        </ul>
        <% if @lesson.instructor %>
          <%= link_to "Admin Confirm Instructor", admin_confirm_instructor_path, method: :put, class: "btn btn-default" %>
        <% end %>
        <%= link_to "Admin Confirm Deposit", admin_confirm_deposit_path, method: :put, class: "btn btn-default" %>
        <%= link_to "Process Cash Payment", admin_confirm_lesson_cash_path(@lesson), method: :put, class: "btn btn-default btn-airbnb" %>
        <%= link_to "Mark Paid w/ Square", admin_confirm_lesson_square_path(@lesson), method: :put, class: "btn btn-secondary" %>        
        <%= link_to "Confirm Add to Schedule", admin_confirm_booked_with_modification_path, method: :put, class: "btn btn-default btn-airbnb" %>
        <%= link_to 'Add PR or Rain Bonus', edit_wages_path(@lesson), class: 'btn btn-warning' %>
        <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), class: "btn btn-success" %> <span> </span>
        <%= link_to 'Edit & Reissue Payment', reissue_invoice_path(@lesson), method: :put, class: "btn btn-warning" %><span> </span>
        <%= link_to 'Edit & Refund', issue_refund_path(@lesson), method: :put, class: "btn btn-danger" %><span> </span>
        <!-- %= link_to 'Cancel Lesson & Refund', @lesson, method: :delete, data: { confirm: 'Are you sure you want to cancel this lesson?' }, class: "btn btn-danger" %></td> -->

    </div>
    <% end %>

    <% if @lesson.ready_for_deposit? %>
      <%= render partial: 'confirm_reservation' %>
    <% end %>

    <% if current_user && current_user.instructor.nil? && @lesson.state == "booked" || @lesson.state == "confirmed" %>
      <!-- <script src="https://www.smartwaiver.com/m/webpl/f.js?webpl_waiver=584daa0c8f287&webpl_title=Please%20now%20sign%20your%20waiver&webpl_align=Left&webpl_fontsize=20&webpl_background=%2355c9b2&webpl_fontcolor=%23ffffff&webpl_font=Verdana" type="text/javascript"></script> -->
    <% end %>

    <% if @lesson.confirmable? || @lesson.completable? || @lesson.active? %>
      <%= render partial: 'lesson_actions_active' %>
    <% end %>

    <% if @lesson.finalizing? %>
      <%= render partial: 'confirming_lesson_duration' %>
      <!-- %= render partial: 'feedback_for_students' %> -->
    <% end %>


    <% if @lesson.waiting_for_review? && (current_user == @lesson.requester || !current_user && @lesson.guest_email || current_user && current_user.user_type == "Snow Schoolers Employee") %>
      <%= render partial: 'reviews/form' %>
      <% elsif @lesson.waiting_for_review? && current_user && (current_user.instructor || current_user.user_type == "Snow Schoolers Employee") %>
          <%= link_to "Remind Guest to submit their review", send_review_reminder_to_guest_path, class: "btn btn-primary" %>
      <% else %>
        <h3>
          <a href="#" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Log in to leave a review for your lesson.</a>
        </h3>
    <% end %>

    <% if @lesson.waiting_for_payment? && (current_user == @lesson.requester || current_user && current_user.user_type == "Snow Schoolers Employee" || (@lesson.guest_email && current_user.nil?) || @lesson.guest_email && current_user && current_user.instructor.nil? ) %>
      <%= render partial: 'make_payment' %>
      <% elsif @lesson.waiting_for_payment? && current_user && current_user.instructor %>
          <div class="alert alert-success alert-dismissible fade in" role="alert">
            <p>Your student has been notified and prompted to complete and provide their review of the lesson.</p>
          </div>
          <%= link_to "Edit Lesson Times", mark_lesson_complete_path, method: :put, class: "btn btn-success" %>
    <% end %>

    <% if @lesson.state == "Lesson Complete" %>

      <hr class="hr-navy">
      <h2 class="center">Thanks again for sharing your feedback! Click the button below to apply a 10% discount to your next booking.</h2>
      <h2 class="center">
        <a href="/book/granlibakken?promo_code=SNOWFAM10" class="btn btn-primary btn-xl page-scroll powder-btn">Save 10% on your next lesson</a>
      </h2>
      <hr class="hr-navy">

    <% end %>

    <% unless @lesson.focus_area == "Exclude" %>

    <%= render partial: 'lesson_details' %>

    <% end %>

    <% if @lesson.canceled? %>
      <p>Lesson has been canceled.</p>
    <% end %>
              <%= render partial: "lessons/cancellation_policy" %>
  </div>
</div>

<!-- SLIDER -->
<!-- <img id="cycle-loader" src="https://s3.amazonaws.com/snowschoolers/images/spinner.gif" alt="loader" /> -->

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/thredbo-sunrise.jpg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
