<% if resources.present? %>
<% else %>
  <p class="text-warning">There are no matching equipment resources available.</p>
<% end %>

    <table class="instructors-table">
      <thead>
        <tr>
          <th>Type of Gear</th>
          <!-- <th>gb_identifier</th> -->
          <th>Brand</th>
          <th>Size</th>
          <!-- <th>board_size</th> -->
          <th>Availability</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% resources.each_with_index do |resource, index| %>

        <% if resource.board_size == resources[index-1].board_size && resource.boot_size == resources[index-1].boot_size %>
        <tr class="hidden">
          <td> test: index position is <%= index %> </td>
        <% else %>
        <tr>
        <% end %>

          <td><%= resource.resource_type_text %></td>
          <!-- <td><%= resource.gb_identifier %></td> -->
          <td><%= resource.manufacturer %></td>
          <% if @rental.resource_type == 'ski' || @rental.resource_type == 'snowboard' %>
          <td><%= resource.board_size %></td>
          <% else %>
          <td><%= resource.boot_size %></td>
          <% end %>
          <td><%= resource.availability(@rental) %></td>
          <% if resource.availability(@rental) == 'Available' %>
          <td><%= link_to 'Reserve This', select_resource_path(@rental, :resource_id => resource.id),  :method => "put", class: 'btn btn-primary' %></td>
          <% else %> 
          <td></td>
          <% end %>
          <% if @rental.resource_id == resource.id %>
          <td><%= link_to 'Drop', remove_resource_path(@rental, :resource_id => resource.id),  :method => "put", class: 'btn btn-warning' %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
