<div id="middle" class="container">
  <div class="white">

<p id="notice"><%= notice %></p>

<div class="first-fold-hero">
  <img src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" class="img-hero">  
  <div class="text-overlay">
    <h1><%= @location.name %></h1>    
  </div>
</div>
<section>
  <div>
  <strong>Calendar Status:</strong> <%= @location.calendar_status %>
  <strong>Region:</strong> <%= @location.region %>    
  </div>
</section>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
</div>